<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a class="navbar_nouser_link" href="/referrers/<%=currentUser.username%>/dashboard" style="font-weight: 700;">Dashboard</a></li>
            <li><a class="navbar_nouser_link" href="/referrers/<%=currentUser.username%>/patients/new">Refer</a></li>
            <li><a class="navbar_nouser_link" href="/referrers/<%=currentUser.username%>/patients">Patients</a></li>
            <li><a class="navbar_nouser_link" href="/referrers/<%=currentUser.username%>/profile">Profile</a></li>
            <li><a class="navbar_nouser_link" href="/faq">FAQs</a></li>
            <li><a class="navbar_nouser_link" href="/contact">Contact</a></li>
        </ul>
        <div style="text-transform: initial; align-self: center; margin-left: 5rem;">
            <a class="navbar_nouser_link" href="/logout" style="color: white; margin: 1rem;">Log out</a>
        </div>
    </nav>


    <nav class="navbar_nouser">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="toggleHide" id="hiddenNavLinks">
                    <li class="nav-item"><a class="nav-link navbar_nouser_link" href="/referrers/<%=currentUser.username%>/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link navbar_nouser_link" href="/referrers/<%=currentUser.username%>/patients/new">About</a></li>
                    <li class="nav-item"><a class="nav-link navbar_nouser_link" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link navbar_nouser_link" href="/licenses">Licenses</a></li>
                    <li class="nav-item"><a class="nav-link navbar_nouser_link" href="/contact">Contact</a></li>
                    <% if(!currentUser) { %> 
                        <li><a class="nav-link navbar_nouser_link" href="/login">Sign In</a></li>
                        <li><a class="nav-link navbar_nouser_link" href="/register">Sign up</a></li>
                    <% } %>
                </div>
            </ul>
        </div>
    </nav>
</div>

<script>
    var linkArr = Array.from(document.querySelectorAll(".navbar_nouser_link"));
    linkArr.forEach(function(link, index, arr) {
        link.addEventListener("click", function() {
            arr.forEach(function(el) {
                el.style.fontWeight = "400";
            });
            link.style.fontWeight = "700";
        });
    });
</script>