<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-sm-top" style="z-index: 999;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/referrers/<%=currentUser.username%>/dashboard">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/referrers/<%=currentUser.username%>/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/referrers/<%=currentUser.username%>/patients/new">Refer a Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/referrers/<%=currentUser._id%>/patients">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/referrers/<%=currentUser._id%>/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/referrers/<%=currentUser._id%>/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>