<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Doctor Info</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_admin.ejs") %>
    </header>

    <div class="container">
        <%- include("../partials/alert.ejs") %>
            <br>
        <div class="profile drop__shadow">
            <p class="text-center">The following doctor was successfully added to My Clinic:</p>
            <br><br>
            <p class="profile-details-paragraph lh-1"><span class="lead">Username</span><br><span class="paragraph__span overflow-auto"><%=user.username%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">First Name</span><br><span class="paragraph__span overflow-auto"><%=user.doctor_details.firstname%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Middle Name</span><br><span class="paragraph__span overflow-auto"><%=user.doctor_details.middlename%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Last Name</span><br><span class="paragraph__span overflow-auto"><%=user.doctor_details.lastname%></span></p>
            <br><br><br><br><br>
            <small>The created doctor can now now log into their account with the generated username and password. Click <a href="/accounts/doctors/login">here</a> to login.</small>
        </div>
    </div>
    <br>
</div>

<%- include("../partials/footer.ejs") %>