<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Doctor Info</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_admin.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="profile drop__shadow">
            <p class="lead text-center bold-text">BASIC INFORMATION</p>
            <br>
            <p class="profile-details-paragraph lh-1"><span class="lead">First name</span><br><span class="paragraph__span text-wrap text-break"><%= doctor.doctor_details.firstname %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Middle name</span><br><span class="paragraph__span text-wrap text-break"><%= doctor.doctor_details.middlename %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Last name</span><br><span class="paragraph__span text-wrap text-break"><%= doctor.doctor_details.lastname %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Department</span><br><span class="paragraph__span text-wrap text-break"><%= doctor.doctor_details.department %></span></p>
        </div>
        <br>
        <div class="profile drop__shadow overflow-auto"  style="max-height: 100vh">
            <p class="lead text-center bold-text">BOOKINGS</p>
            <br>
            <% if (doctor.doctor_details.bookings && doctor.doctor_details.bookings.length > 0) { %>
                <% doctor.doctor_details.bookings.forEach(booking => { %>
                    <% var borderColor = booking.status == 1 ? "border border-success" : "border border-secondary"; %>
                    <% var status = booking.status == 1 ? "Done" : "Not Done"; %>

                    <div class="profile <%= borderColor %>">
                        <p class="profile-details-paragraph lh-1"><span class="lead">Booked by</span><br><span class="paragraph__span text-wrap text-break"><%= booking.doctor %></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Date/time</span><br><span class="paragraph__span text-wrap text-break"><%= booking.date %></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Status</span><br><span class="paragraph__span text-wrap text-break"><%= status %></span></p>
                        <% if(booking.status == 1) { %>
                            <p class="profile-details-paragraph lh-1"><span class="lead">Perfomed on</span><br><span class="paragraph__span text-wrap text-break"><%= booking.performed_on %></span></p>
                            <p class="profile-details-paragraph lh-1"><span class="lead">Perfomed by</span><br><span class="paragraph__span text-wrap text-break"><%= booking.performed_by %></span></p>
                        <% } %>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="text-center">No bookings yet.</p>
            <% } %>
        </div>
    </div>
    <br><br>
    <p class="text-center"><a class="text-danger" href="/admin/doctors/<%=doctor._id%>">Remove Doctor</a></p>
    <br><br>
</div>

<%- include("../partials/footer.ejs") %>