<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            </div>
            <h1 class="header-h1-text">Hospitals</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_admin.ejs") %>
        </header>

        <div class="container">

            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="hospitals drop__shadow">
                    <% hospitals.forEach(function(hospital) { %>
                        <% if(hospital.role == 1) { %>
                            <button type="button" class="btn btn-success hospital_button" onclick="window.location.href='/admin/hospitals/<%= hospital.username %>';">
                                <span style="height: 50%;"><%= hospital.hospitalDetails.name %> </span>
                                <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.6rem; height: 50%;"><%= hospital.hospitalDetails.address %></span>
                            </button>
                            <% } else if(hospital.role < 1 && hospital.role != -1) { %>
                                <button type="button" class="btn btn-outline-success hospital_button" onclick="window.location.href='/admin/hospitals/<%= hospital.username %>';">
                                <span style="height: 50%;"><%= hospital.hospitalDetails.name %> </span>
                                <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.6rem; height: 50%;"><%= hospital.hospitalDetails.address %></span>
                            </button>
                                <% } else if(hospital.role == -1) { %>
                                    <button type="button" class="btn btn-warning hospital_button" onclick="window.location.href='/admin/hospitals/<%= hospital.username %>';">
                                <span style="height: 50%;"><%= hospital.hospitalDetails.name %> </span>
                                <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.6rem; height: 50%;"><%= hospital.hospitalDetails.address %></span>
                            </button>
                                    <% } %>
                                        <% }); %>
                </div>
                <br><br><br><br><br>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>