<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Referrer Details</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_admin.ejs") %>
    </header>

    <div class="container">
        <%- include("../partials/alert.ejs") %>
            <br>
            <!--PROFILE OVERVIEW-->
            <div class="profile drop__shadow">
                <h1 class="header-h1-text text-center">Profile Overview</h1>
                <hr>
                <!--SET REFERRER STATUS-->            
                <% var status = '' ; %>
                <% if(referrer.role == 1) { %>
                    <% status = "Active" ; %>
                <% } else if(referrer.role == -1) { %>
                    <% status = "Suspended" ; %>
                <% } else if(referrer.role == 0) { %>
                    <% status = "Pending" ; %>
                <% } else { %>
                    <% status = "Incomplete profile"; %>
                <% } %>
                                                        
                <p class="profile-details-paragraph lh-1"><span class="lead">Status</span><br><span class="paragraph__span overflow-auto"><%=status%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Name</span><br><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.title%> <%=referrer.referrerDetails.name%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Institution of practice</span><br><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.institution%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Address of Institution</span><br><span class="paragraph__span text-wrap text-break overflow-auto"><%=referrer.referrerDetails.address%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Phone number</span><br><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.phone%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Account number</span><br><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.ac_number%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Account name</span><br><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.ac_name%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Bank<br></span><span class="paragraph__span overflow-auto"><%=referrer.referrerDetails.bank%></span></p>
            </div><br>
            
            <!--ACCOUNT INFORMATION-->
            <div class="profile drop__shadow">
                <h1 class="header-h1-text text-center">Account Information</h1>
                <hr>
                <!--ADD COMMAS TO MONEY FIRGURES-->
                <% function formatNumber(num) { %>
                    <% var numSplit, int, dec; %>
                    <% num = parseFloat(num, 10); %>
                    <% num = num.toFixed(2); %>
                    <% numSplit = num.split("."); %>
                    <% int = numSplit[0]; %>
                    <% if(int.length > 3) { %>
                        <% int = int.substr(0, int.length - 3) + "," + int.substr(int.length - 3, 3); %>
                    <% } %>
                    <% dec = numSplit[1]; %>
                    <% return int + "." + dec; %>
                <% } %>
                <!--initialize the date and months variables-->
                <% var date = new Date() %>
                <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                <% var currentMonth = months[date.getMonth()] %>
                <!--Get number of patients-->
                <% var currentReferredPatients = 0; currentAuthenticatedPatients = 0; totalAuthenticatedPatients = 0; %>
                <% referrer.referrerDetails.patients.forEach(function(patient) { %>
                    <% if(patient.referral_month == months[date.getMonth()]) { %>
                        <% currentReferredPatients++; %>
                            <% if(patient.authentication_month == months[date.getMonth()]) { %>
                                <% currentAuthenticatedPatients++; %>
                            <% } %>
                    <% } %>
                    <% if(patient.status == "authenticated") { %>
                        <% totalAuthenticatedPatients++; %>
                    <% } %>
                <% }); %>
                <!--Get commissions info-->
                <% var currentCommission = 0, totalCommission = 0; %>
                <% referrer.referrerDetails.patients.forEach(function(patient) { %>
                    <% totalCommission += patient.referrer_commission %>
                    <% if(patient.authentication_month == currentMonth && patient.authentication_year == date.getFullYear()) { %>
                        <% currentCommission += patient.referrer_commission %>
                    <% } %>
                <% }); %>
                <p class="profile-details-paragraph lh-1"><span class="lead"><%= currentMonth %> Patients</span><br><span class="paragraph__span overflow-auto"><%= currentReferredPatients %></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">All Patients</span><br><span class="paragraph__span overflow-auto"><%= referrer.referrerDetails.patients.length %></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead"><%= currentMonth %> Authenticated Patients</span><br><span class="paragraph__span overflow-auto"><%= currentAuthenticatedPatients %></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">All Authenticated Patients</span><br><span class="paragraph__span overflow-auto"><%= totalAuthenticatedPatients %></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead"><%= currentMonth %> commission</span><br><span class="paragraph__span overflow-auto"><strike>N</strike><%=formatNumber(currentCommission)%></span></p>
                <p class="profile-details-paragraph lh-1"><span class="lead">Total commission</span><br><span class="paragraph__span overflow-auto"><strike>N</strike> <%=formatNumber(totalCommission)%></span></p>
            </div><br>

            <!--ACTIVATE ACCOUNT-->
            <% if(referrer.role == 0) { %>
                <div class="profile drop__shadow">
                    <br>
                    <h3 class="text-center">Activate Referrer</h3>
                    <hr><br><br>
                    <form action="/admin/referrers/<%=referrer.username%>/activate?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-lg btn-success" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Activate Referrer</button>
                    </form>
                </div><br>
            <% } %>

            <!--SUSPEND ACCOUNT-->
            <% if(referrer.role != -1) { %>
                <div class="profile bg-warning">
                    <br>
                    <h3 class="text-center">Suspend Referrer</h3>
                    <hr><br><br>
                    <form action="/admin/referrers/<%=referrer.username%>/suspend?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-lg btn-light" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Suspend Referrer</button>
                    </form>
                </div><br>
            <% } %>

            <!--RECALL ACCOUNT-->
            <% if(referrer.role == -1) { %>
                <div class="profile drop__shadow">
                    <br>
                    <h3 class="text-center">Recall Referrer</h3>
                    <hr><br><br>
                    <form action="/admin/referrers/<%=referrer.username%>/activate?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-lg btn-success" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Recall Referrer</button>
                    </form>
                </div><br>
            <% } %>

            <!--DELETE ACCOUNT-->
            <div class="deactivate-account">
                <br>
                <h3 class="text-center">Remove Referrer</h3>
                <hr><br><br>
                <form action="/admin/referrers/<%=referrer._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-lg btn-danger" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Remove Referrer</button><br>
                </form>
            </div>
            <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>