<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            </div>
            <h1 class="header-h1-text">Referrer Details</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_admin.ejs") %>
        </header>

        <div class="container">

            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="profile">
                    <h1 class="header-h1-text text-center">Profile Overview</h1>
                    <hr>
                    <p class="profile-details-paragraph"><span class="lead">Name</span><br><span class=""><%=referrer.referrerDetails.title%> <%=referrer.referrerDetails.name%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Institution of practice</span><br><span><%=referrer.referrerDetails.institution%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Address of Institution</span><br><span class="text-wrap text-break lh-1 overflow-auto   " style="font-size: 0.8rem;"><%=referrer.referrerDetails.address%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Phone number</span><br><span><%=referrer.referrerDetails.phone%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Account number</span><br><span><%=referrer.referrerDetails.ac_number%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Account name</span><br><span><%=referrer.referrerDetails.ac_name%></span></p>
                    <p class="profile-details-paragraph"><span class="lead">Bank<br></span><span><%=referrer.referrerDetails.bank%></span></p>
                </div>

                <br>

                <div class="profile">
                    <h1 class="header-h1-text text-center">Account Information</h1>
                    <hr>
                    <% function formatNumber(num) { %>
                        <% var numSplit, int, dec; %>
                            <% num = parseFloat(num, 10); %>
                                <% num = num.toFixed(2); %>
                                    <% numSplit = num.split("."); %>
                                        <% int = numSplit[0]; %>
                                            <% if(int.length > 3) { %>
                                                <% int = int.substr(0, int.length - 3) + "," + int.substr(int.length - 3, 3); %>
                                                    <% } %>
                                                        <% dec = numSplit[1]; %>
                                                            <% return int + "." + dec; %>
                                                                <% } %>
                                                                    <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                                                                        <% var currentMonth = months[new Date().getMonth()] %>
                                                                            <% var currentCommission = 0, totalCommission = 0; %>
                                                                                <% referrer.referrerDetails.patients.forEach(function(patient) { %>
                                                                                    <% totalCommission += patient.referrer_commission %>
                                                                                        <% if(patient.authentication_month == currentMonth) { %>
                                                                                            <% currentCommission += patient.referrer_commission %>
                                                                                                <% } %>
                                                                                                    <% })%>
                                                                                                        <p class="profile-details-paragraph"><span class="lead"><%= currentMonth %> commission</span><br><span><strike>N</strike> <%=formatNumber(currentCommission)%></span></p>
                                                                                                        <p class="profile-details-paragraph"><span class="lead">Total commission</span><br><span><strike>N</strike> <%=formatNumber(totalCommission)%></span></p>
                </div>

                <br>
                <div class="deactivate-account">
                    <br>
                    <h3 class="text-center">Remove Referrer</h3>
                    <hr>
                    <br><br>
                    <form action="/admin/referrers/<%=referrer._id%>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-lg btn-danger" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Remove Referrer</button><br>
                    </form>
                </div>
                <br><br><br><br><br>
        </div>
        <div class="space"></div>
    </div>

    <%- include("../partials/footer.ejs") %>