<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">

        <% function formatNumber(num) { %>
            <% var numSplit, int, dec; %>
                <% num = parseFloat(num, 10); %>
                    <% num = num.toFixed(2); %>
                        <% numSplit = num.split("."); %>
                            <% int = numSplit[0]; %>
                                <% if(int.length > 3) { %>
                                    <% int = int.substr(0, int.length - 3) + "," + int.substr(int.length - 3, 3); %>
                                        <% } %>
                                            <% dec = numSplit[1]; %>
                                                <% return int + "." + dec; %>
                                                    <% } %>

                                                        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
                                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                                <a href="/admin/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                                                            </div>
                                                            <h1 class="header-h1-text">Hospital Details</h1>
                                                            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                                                            <%- include("../partials/navbar_admin.ejs") %>
                                                        </header>

                                                        <div class="container">

                                                            <%- include("../partials/alert.ejs") %>
                                                                <br>

                                                                <!--PROFILE-->
                                                                <div class="profile">
                                                                    <h1 class="header-h1-text text-center">Profile Overview</h1>
                                                                    <hr>
                                                                    <% var status = (hospital.role == 1) ? "Active" : "Not active" %>
                                                                        <p class="profile-details-paragraph"><span class="lead">Status</span><br><span><%=status%></span></p>
                                                                        <p class="profile-details-paragraph"><span class="lead">Institution type</span><br><span><%=hospital.hospitalDetails.institution_type%></span></p>
                                                                        <p class="profile-details-paragraph"><span class="lead">Name</span><br><span><%=hospital.hospitalDetails.name%></span></p>
                                                                        <p class="profile-details-paragraph"><span class="lead">Address</span><br><span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;"><%=hospital.hospitalDetails.address%></span></p>
                                                                        <p class="profile-details-paragraph"><span class="lead">Emails</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=hospital.hospitalDetails.email%></span></p>
                                                                        <p class="profile-details-paragraph"><span class="lead">Phone numbers</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=hospital.hospitalDetails.phone%></span></p>
                                                                        <% if(hospital.hospitalDetails.website.length > 0) { %>
                                                                            <p class="profile-details-paragraph"><span class="lead">Website</span><br><span><%=hospital.hospitalDetails.website%></span></p>
                                                                            <% } %>
                                                                                <% if(hospital.hospitalDetails.cmd.length > 0) { %>
                                                                                    <p class="profile-details-paragraph"><span class="lead">CMD</span><br><span><%=hospital.hospitalDetails.cmd%></span></p>
                                                                                    <% } %>
                                                                                        <% if(hospital.hospitalDetails.ceo.length > 0) { %>
                                                                                            <p class="profile-details-paragraph"><span class="lead">CEO</span><br><span><%=hospital.hospitalDetails.ceo%></span></p>
                                                                                            <% } %>
                                                                                                <% if(hospital.hospitalDetails.consultants >= 0) { %>
                                                                                                    <p class="profile-details-paragraph"><span class="lead">Number of consultants</span><br><span><%=hospital.hospitalDetails.consultants%></span></p>
                                                                                                    <% } %>
                                                                                                        <% if(hospital.hospitalDetails.doctors >= 0) { %>
                                                                                                            <p class="profile-details-paragraph"><span class="lead">Number of doctors</span><br><span><%=hospital.hospitalDetails.doctors%></span></p>
                                                                                                            <% } %>

                                                                </div>
                                                                <br>

                                                                <div class="profile">
                                                                    <h1 class="header-h1-text text-center">Account Information</h1>
                                                                    <hr>
                                                                    <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                                                                        <% var currentMonth = months[new Date().getMonth()] %>
                                                                            <% var currentAmount = 0, currentCommission = 0, totalAmount = 0, totalCommission = 0, totalReferrerCommission, totalPlatformCommission, currentReferrerCommission, currentPlatformCommission; %>
                                                                                <% hospital.hospitalDetails.patients.forEach(function(patient) { %>
                                                                                    <% totalAmount += patient.amount_paid %>
                                                                                        <% totalCommission += patient.hospital_commission %>
                                                                                            <% totalReferrerCommission += patient.referrer_commission %>
                                                                                                <% totalPlatformCommission += patient.platform_commission %>
                                                                                                    <% if(patient.authentication_month == currentMonth) { %>
                                                                                                        <% currentAmount += patient.amount_paid %>
                                                                                                            <% currentCommission += patient.hospital_commission %>
                                                                                                                <% currentReferrerCommission += patient.referrer_commission %>
                                                                                                                    <% currentPlatformCommission += patient.platform_commission %>
                                                                                                                        <% } %>
                                                                                                                            <% })%>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead"><%= currentMonth %> revenue</span><br><span><strike>N</strike> <%=formatNumber(currentAmount)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead"><%= currentMonth %> commission</span><br><span><strike>N</strike> <%=formatNumber(currentCommission)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead"><%= currentMonth %> referrer commission</span><br><span><strike>N</strike> <%=formatNumber(currentReferrerCommission)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead"><%= currentMonth %> platform commission</span><br><span><strike>N</strike> <%=formatNumber(currentPlatformCommission)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead">Total revenue</span><br><span><strike>N</strike> <%=formatNumber(totalAmount)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead">Total commission</span><br><span><strike>N</strike> <%=formatNumber(totalCommission)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead">Total referrer commission</span><br><span><strike>N</strike> <%=formatNumber(totalReferrerCommission)%></span></p>
                                                                                                                                <p class="profile-details-paragraph"><span class="lead">Total platform commission</span><br><span><strike>N</strike> <%=formatNumber(totalPlatformCommission)%></span></p>
                                                                </div>
                                                                <br>

                                                                <!--DEPARTMENTS-->
                                                                <% if(hospital.hospitalDetails.departments.length > 0) { %>
                                                                    <div class="departments overflow-auto">
                                                                        <h1 class="header-h1-text text-center">Departments</h1>
                                                                        <hr>

                                                                        <% hospital.hospitalDetails.departments.forEach(function(department) { %>
                                                                            <div class="department">
                                                                                <p class="profile-details-paragraph"><span class="lead">Department name</span><br><span><%=department.name%></span></p>
                                                                                <p class="profile-details-paragraph"><span class="lead">Number of clinical staff</span><br><span><%=department.staff_count%></span></p>
                                                                                <p class="profile-details-paragraph">
                                                                                    <span class="lead">Units</span><br>
                                                                                    <span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;">
                                <% department.units.forEach(function(unit, index, arr) { %>
                                    <% if(index != (arr.length - 1)) { %>
                                        <%= unit %>,
                                    <% } else { %>
                                        <%= unit %>
                                    <% } %>
                                <% }); %>
                            </span>
                                                                                </p>
                                                                            </div>
                                                                            <% }); %>
                                                                                <br><br><br>
                                                                    </div>
                                                                    <% } %>
                                                                        <br>

                                                                        <!--PROCEDURES-->
                                                                        <% if(hospital.hospitalDetails.procedures.length > 0) { %>
                                                                            <div class="profile_procedures">
                                                                                <h1 class="header-h1-text text-center" style="width: 100%;">Procedures</h1>
                                                                                <hr>
                                                                                <br>
                                                                                <div class="overflow auto" style="display: flex; justify-content: space-evenly; height: 70%;">
                                                                                    <div>
                                                                                        <% for(var i = 0; i < hospital.hospitalDetails.procedures.length; i+=2) { %>
                                                                                            <p>
                                                                                                <%= hospital.hospitalDetails.procedures[i] %>
                                                                                            </p>
                                                                                            <% } %>
                                                                                    </div>
                                                                                    <div>
                                                                                        <% for(var i = 1; i < hospital.hospitalDetails.procedures.length; i+=2) { %>
                                                                                            <p>
                                                                                                <%= hospital.hospitalDetails.procedures[i] %>
                                                                                            </p>
                                                                                            <% } %>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                                                <br>

                                                                                <!--DEACTIVATE ACCOUNT-->
                                                                                <div class="deactivate-account">
                                                                                    <br>
                                                                                    <h3 class="text-center">Remove Hospital</h3>
                                                                                    <hr>
                                                                                    <form action="/admin/hospitals/<%=hospital._id%>?_method=DELETE" method="POST">
                                                                                        <button type="submit" class="btn btn-lg btn-danger" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Remove Hospital</button><br>
                                                                                    </form>
                                                                                </div>
                                                        </div>
                                                        <div class="space"></div>
    </div>

    <%- include("../partials/footer.ejs") %>