<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <%- include("../partials/navbar_hospital.ejs") %>
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text">Authenticate a Patient</h1>
                <div style="display: flex; align-items: flex-start;">  
                    <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %> 
                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 3rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                    <% } else { %>
                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 3rem; color: white;"></i></a></p>
                    <% } %> 
                </div>
            </div>
        </header>

        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text">Patients</h1>
                <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                <div style="display: flex; align-items: flex-start; width: 10%;">  
                    <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %> 
                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                    <% } else { %>
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                    <% } %> 
                </div>
            </div>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>
        
        <%- include("../partials/alert.ejs") %>
        <br>

        <div style="background-color: white; padding: 2rem; width: 40%; margin: 0 auto; border: 1px solid lightgrey;">
            <form action="/hospitals/<%=currentUser.username%>/authenticate?_method=PUT" method="POST">
                <!--Accession number-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="accession_number" name="accession_number" required>
                    <label for="accession_number">Accession number</label>
                </div>
                <!--Amount paid-->
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="amount_paid" name="amount_paid" required>
                    <label for="amount_paid">Amount paid</label>
                </div>
                <!--Button-->
                <div class="button-group" style="width: 100%; margin-top: 3rem;">
                    <input type="submit" class="button btn btn-primary" value="Authenticate" style="width: 100%;">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>