<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center;">
            <h1 class="header-h1-text">Patient Details</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <div style="display: flex; align-items: flex-start; width: 10%;">  
                <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %> 
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %> 
            </div>
        </div>
        <%- include("../partials/navbar_referrer.ejs") %>
    </header>

        <%- include("../partials/alert.ejs") %> 
        <br>

        <div class="row g-3 align-items-center justify-content-center" style="width: 80%; margin: 0 auto;">
            
            <% function formatNumber(num) { %>
                <% var numSplit, int, dec; %>
                <% num = parseFloat(num, 10); %>
                <% num = num.toFixed(2); %>
                <% numSplit = num.split("."); %>
                <% int = numSplit[0]; %>
                <% if(int.length > 3) { %>
                    <% int = int.substr(0, int.length - 3) + "," + int.substr(int.length - 3, 3); %>
                <% } %>
                <% dec = numSplit[1]; %>
                <% return int + "." + dec; %>
            <% } %>

            <div class="patient-details" style="background-color: white; padding: 5rem; width: 100%; margin: 0 auto; border: 1px solid lightgrey;">
                <br>
                <div style="width: 80%; margin: 0 auto;">
                    <p class="patient-info text-center"><span class="lead">ACCESSION NUMBER </span><br><span><%=patient.accession_number%></span></p>
                    <hr>
                    <p class="patient-info text-center"><span class="lead">NAME </span><br><span><%=patient.name%></span></p>
                    <hr>
                    <p class="patient-info text-center"><span class="lead overflow-auto">INVESTIGATIONS </span><br> <span><%=patient.investigation%> </span></p>
                    <hr>
                    <p class="patient-info text-center"><span class="lead">AMOUNT PAID </span><br> <span><strike>N</strike><%=formatNumber(patient.amount_paid)%> </span></p>
                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>