<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <h1 class="header-h1-text">Profile</h1>
            <small>Profile and account settings</small>
        </header>

        <%- include("../partials/alert.ejs") %>

        <br>

        <div class="profile">
            <h1 class="header-h1-text text-center">Institution Profile</h1>
            <hr>
            <p class="profile-details-paragraph"><span class="lead">Institution type</span><br><span><%=currentUser.hospitalDetails.institution_type%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Name</span><br><span><%=currentUser.hospitalDetails.name%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Address</span><br><span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;"><%=currentUser.hospitalDetails.address%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Emails</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=currentUser.hospitalDetails.email%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Phone numbers</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=currentUser.hospitalDetails.phone%></span></p>
            <% if(currentUser.hospitalDetails.website.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Website</span><br><span><%=currentUser.hospitalDetails.website%></span></p>
            <% } %> 
            <% if(currentUser.hospitalDetails.cmd.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">CMD</span><br><span><%=currentUser.hospitalDetails.cmd%></span></p>
            <% } %> 
            <% if(currentUser.hospitalDetails.ceo.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">CEO</span><br><span><%=currentUser.hospitalDetails.ceo%></span></p>
            <% } %>
            <% if(currentUser.hospitalDetails.consultants >= 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Number of consultants</span><br><span><%=currentUser.hospitalDetails.consultants%></span></p>
            <% } %>
            <% if(currentUser.hospitalDetails.doctors >= 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Number of doctors</span><br><span><%=currentUser.hospitalDetails.doctors%></span></p>
            <% } %>
            <br><br>
            <button class="btn btn-outline-primary btn-lg" onclick="window.location.href='/hospitals/<%=currentUser.username%>/profile/edit';" style="display: block; margin: 0 auto; padding: 1rem; font-family: 'Poppins', sans-serif;">Edit profile</button>
        </div>
        <br>

        <% if(currentUser.hospitalDetails.departments.length > 0) { %>
            
            <div class="departments">
                <h1 class="header-h1-text text-center">Institution Structure</h1>
                <hr>
                
                <% currentUser.hospitalDetails.departments.forEach(function(department) { %>
                    <div class="department">
                        <p class="profile-details-paragraph"><span class="lead">Department name</span><br><span><%=department.name%></span></p>
                        <p class="profile-details-paragraph"><span class="lead">Number of clinical staff</span><br><span><%=department.staff_count%></span></p>
                        <p class="profile-details-paragraph">
                            <span class="lead">Procedures</span><br>
                            <span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;">
                                <% department.procedures.forEach(function(procedure, index, arr) { %>
                                    <% if(index != (arr.length - 1)) { %>
                                        <%= procedure %>, 
                                    <% } else { %>
                                        <%= procedure %>
                                    <% } %>
                                <% }); %>
                            </span>
                        </p>
                    </div>
                <% }); %> 
    
                <button class="btn btn-outline-primary btn-lg" onclick="window.location.href='/hospitals/<%=currentUser.username%>/departments/edit';" style="display: block; margin: 2rem auto 1rem auto; padding: 1rem; font-family: 'Poppins', sans-serif;">Edit institution structure</button>
            </div>

        <% } %> 

        <% if(currentUser.hospitalDetails.procedures.length > 0) { %> 

            <div class="profile_procedures">
                <div>
                    <% for(var i = 0; i < currentUser.hospitalDetails.procedures.length; i++) { %> 
                    
                </div>
                <div></div>
            </div>

        <% } %> 
        
        <br>
        <div class="deactivate-account">
            <br>
            <h3 class="text-center">Deactivate Account</h3>
            <hr>
            <p class="deactivate-account-text text-center">Can we resolve this?
                <br><br>
                <small><a href="/contact">Reach us via email</a> with your complaints and/or queries.</small><br>
                <small>Or call our 24/7 hotlines: <a href="#">+234 (0) 806 019-4496</a> | <a href="#">+234 (0) 913 228-3783</a></small>
            </p>
            <button class="btn btn-lg btn-danger" onclick="window.location.href='/hospitals/<%=currentUser.username%>/deactivate';" style="font-family: 'Poppins', sans-serif; padding: 1rem; width: 20%; display: block; margin: 0 auto;">Deactivate</button><br>  
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>