<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/referrers/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                <div style="display: flex; align-items: flex-start; width: 10%;">
                    <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %>
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %>
                </div>
            </div>
            <h1 class="header-h1-text">Edit Patient Details</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>

        <div class="container">
            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="form-content drop__shadow">
                    <form action="/referrers/<%=currentUser.username%>/patients/<%=patient.accession_number%>?_method=PUT" method="POST">
                        <!--Select hospital-->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="hospital" name="hospital" required>
                                <option value="-1" selected disabled>Select an institution</option>
                                <% hospitals.forEach(function(hospital, index) { %>
                                    <% if(hospital.role==1) { %>
                                        <option value="<%=index%>">
                                            <%=hospital.hospitalDetails.name%>
                                        </option>
                                        <% } %>
                                            <% }); %>
                            </select>
                            <label for="hospital">Referral institution</label>
                            <p class="lh-2"><a href="/hospitals" target="_blank">View list of hospitals</a> to see their departments and units.</p>
                        </div>
                        <!--Investigations-->
                        <div class="mb-3">
                            <label for="investigation" class="form-label">Investigations to perform:</label>
                            <textarea class="form-control" name="investigation" id="investigation" style="height: 10rem;" required><%= patient.investigation %> </textarea>
                        </div>
                        <!--Name of patient-->
                        <div class="mb-3">
                            <label for="name" class="form-label">Patient's name:</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%=patient.name %>" required>
                        </div>
                        <!--Phone number-->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Patient's phone number:</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="<%= patient.phone %> ">
                        </div>
                        <br><br>
                        <!--Button group-->
                        <div class="button-group">
                            <input type="submit" class="text-wrap button btn btn-success button-group-child" value="Confirm" style="width: 45%;">
                            <button type="reset" class="text-wrap border border-3 border-success button btn btn-outline-success button-group-child" onclick="window.location.href='/referrers/<%=currentUser.username%>/patients/<%=patient.accession_number%>';" style="width: 45%;">Cancel</button>
                        </div>
                    </form>
                </div>
                <br><br><br><br><br>
        </div>
        <div class="space"></div>
    </div>

    <%- include("../partials/footer.ejs") %>