<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/referrers/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                <div style="display: flex; align-items: flex-start; width: 10%;">
                    <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %>
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %>
                </div>
            </div>
            <h1 class="header-h1-text">Profile</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>

        <div class="container">
            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="container drop__shadow" id="profile">
                    <div class="profile-details">
                        <p class="profile-details-paragraph lh-1"><span class="lead">Name</span><br><span class="paragraph__span overflow-auto">Doctor <%=currentUser.referrerDetails.name%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Institution of practice</span><br><span class="paragraph__span overflow-auto"><%=currentUser.referrerDetails.institution%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Address of Institution</span><br><span class="paragraph__span overflow-auto text-wrap text-break" style="font-size: 0.8rem;"><%=currentUser.referrerDetails.address%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Phone number</span><br><span class="paragraph__span overflow-auto"><%=currentUser.referrerDetails.phone%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Account number</span><br><span class="paragraph__span overflow-auto"><%=currentUser.referrerDetails.ac_number%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Account name</span><br><span class="paragraph__span overflow-auto"><%=currentUser.referrerDetails.ac_name%></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Bank<br></span><span class="paragraph__span overflow-auto"><%=currentUser.referrerDetails.bank%></span></p>
                        <br><br>
                        <button class="btn btn-success btn-lg" onclick="window.location.href='/referrers/<%=currentUser.username%>/profile/edit';" style="width: 250px; display: block; margin: 0 auto; padding: 1rem 3rem 1rem 3rem; font-family: 'Poppins', sans-serif;">Edit profile</button>
                    </div>
                </div>
                <br>

                <div class="deactivate-account">
                    <br>
                    <h3 class="text-center">Delete My Account</h3>
                    <hr>
                    <p class="deactivate-account-text text-center">
                        <strong>Can we resolve this?</strong>
                        <br><br>
                        <small><a href="/contact" style="color: white; text-decoration: underline;">Reach us</a> with your complaints.</small><br>
                        <small>Or call our 24/7 hotlines:</small><br>
                        <small><a href="#" style="color: white;">+234 (0) 806 019-4496</a></small><br>
                        <small><a href="#" style="color: white;">+234 (0) 913 228-3783</a></small>
                    </p>
                    <br><br><br>
                    <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/referrers/<%=currentUser.username%>/deactivate';" style="display: block; margin: 0 auto;">Delete account</button><br>
                </div>
                <br><br><br><br><br>
        </div>
        <div class="space"></div>
    </div>

    <%- include("../partials/footer.ejs") %>