<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
            <h1 class="header-h1-text">Hospitals</h1>
        </header>
        
        <%- include("../partials/alert.ejs") %><br>
        
        <div class="hospitals">

            <% hospitals.forEach(function(hospital) { %>

                <button type="button" class="btn btn-outline-primary hospital_button">
                    <span style=""><%= hospital.hospitalDetails.name %> </span>
                    <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.8rem; height: 50%; background: black;"><%= hospital.hospitalDetails.address %></span>
                </button>
                
            <% }); %>

        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>