<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="clock"></div>
            </div>
            <h1 class="header-h1-text">Referrers</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_admin.ejs") %>
        </header>
        
        <%- include("../partials/alert.ejs") %>
        <br>
        
        <div class="referrers">

            <% referrers.forEach(function(referrer) { %>
                <% if(referrer.role == 1) { %>

                    <button type="button" class="btn btn-outline-primary referrer_button" onclick="window.location.href='/admin/referrers/<%= referrer.username %>';">
                        <span style="height: 50%;"><%= referrer.referrerDetails.name %> </span>
                        <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.8rem; height: 50%;"><%= referrer.referrerDetails.institution %></span>
                    </button>

                <% } else if(referrer.role < 1) { %>

                    <button type="button" class="btn btn-outline-secondary referrer_button" onclick="window.location.href='/admin/referrers/<%= referrer.username %>';">
                        <span style="height: 50%;"><%= referrer.referrerDetails.name %> </span>
                        <span class="overflow-auto" style="font-family: 'Open Sans', sans-serif!important; font-size: 0.8rem; height: 50%;"><%= referrer.referrerDetails.institution %></span>
                    </button>

                <% } %> 
            <% }); %>

        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>