<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text"><%= hospital.hospitalDetails.name %></h1>
                <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            </div>
            <%- include("../partials/navbar_admin.ejs") %>
        </header>

        <%- include("../partials/alert.ejs") %>

        <br>
        <div class="container" id="profile" style="font-family: 'Open Sans', sans-serif; border: 1px solid lightgrey;">
            <div class="profile-details">
                <p class="profile-details-paragraph"><span class="lead">Name</span><br><span class="">Doctor <%=referrer.referrerDetails.name%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Institution of practice</span><br><span><%=referrer.referrerDetails.institution%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Address of Institution</span><br><span class="text-wrap text-break lh-1 overflow-auto   " style="font-size: 0.8rem;"><%=referrer.referrerDetails.address%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Phone number</span><br><span><%=referrer.referrerDetails.phone%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Account number</span><br><span><%=referrer.referrerDetails.ac_number%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Account name</span><br><span><%=referrer.referrerDetails.ac_name%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Bank<br></span><span><%=referrer.referrerDetails.bank%></span></p>
            </div>
        </div>
        <br>
        <div class="deactivate-account">
            <br>
            <h3 class="text-center">Remove Referrer</h3>
            <hr>
            <form action="/admin/referrers/<%=referrer._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-lg btn-danger" style="font-family: 'Poppins', sans-serif; padding: 1rem; display: block; margin: 0 auto;">Remove Referrer</button><br>
            </form>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>