<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="clock"></div>
            </div>
            <h1 class="header-h1-text">PatientRef Blog</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } else if(currentUser.typeOfUser == "admin") { %>
                    <%- include("../partials/navbar_admin.ejs") %>
                <% } else { %>
                    <%- include("../partials/navbar_nouser.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br>
        
        <div class="blog">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-muted text-center position-relative bottom-0" id="footer" style="font-size: 0.7rem;">Designed and developed by <a href="https://web.facebook.com/Overstack-102533051819877" target="_blank">Overstack </a> &#169;2021</footer>

<%- include("../partials/footer.ejs") %>