<%- include("./partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text">Blog</h1>
                <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            </div>
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer") { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br>
        <p class="text-center">Oops! Something isn't quite right.</p>
        <p class="text-center"><a href="/">Go to homepage</a></p>
    </div>
</div>

<%- include("./partials/footer.ejs") %>