<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <!--CLOCK-->
            <div class="analog">
                <div class="hand hour"></div>
                <div class="hand minute"></div>
                <div class="hand second"></div>
            </div>
            <picture>
                so
            </picture>
        </div>
        <h1 class="header-h1-text">PatientRef</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %> 
                <%- include("../partials/navbar_hospital.ejs") %>
            <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %> 
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    
    <div class="container">

        <%- include("../partials/alert.ejs") %>
        <br>
        
        <div class="content">
            <section>
                <article>
                    <h1 class="text-center">Heading 1</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo ligula, commodo non gravida nec, dapibus ac quam. Etiam cursus libero eget interdum pellentesque. Phasellus ex neque, pharetra vel placerat a, tristique at turpis. Phasellus eget mi ipsum. Proin commodo, sapien elementum scelerisque euismod, orci ex volutpat felis, in varius urna erat vestibulum nisl. Nam auctor enim vel accumsan volutpat. Duis et risus sapien. Cras imperdiet in lorem in scelerisque.</p>
                    <p class="text-center">Vestibulum venenatis dolor magna, et tincidunt odio varius ut. Phasellus et suscipit dolor. Fusce erat dolor, maximus vitae justo sed, pretium malesuada ex. Maecenas blandit sollicitudin congue. Nullam non aliquet orci. Suspendisse blandit eleifend dui a dignissim. Praesent sollicitudin id orci eu ullamcorper. Phasellus semper orci ante, eget semper ex pellentesque in. Donec dapibus cursus nunc, ut viverra mauris convallis sit amet. Suspendisse quis diam odio. In id ante volutpat, accumsan metus sit amet, ultrices justo. Quisque diam elit, lobortis eget arcu vitae, finibus ultrices augue.</p>
                </article>
            </section>
            <br><br><br>
            <section>
                <article>
                    <h1 class="text-center">Heading 2</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo ligula, commodo non gravida nec, dapibus ac quam. Etiam cursus libero eget interdum pellentesque. Phasellus ex neque, pharetra vel placerat a, tristique at turpis. Phasellus eget mi ipsum. Proin commodo, sapien elementum scelerisque euismod, orci ex volutpat felis, in varius urna erat vestibulum nisl. Nam auctor enim vel accumsan volutpat. Duis et risus sapien. Cras imperdiet in lorem in scelerisque.</p>
                    <p class="text-center">Vestibulum venenatis dolor magna, et tincidunt odio varius ut. Phasellus et suscipit dolor. Fusce erat dolor, maximus vitae justo sed, pretium malesuada ex. Maecenas blandit sollicitudin congue. Nullam non aliquet orci. Suspendisse blandit eleifend dui a dignissim. Praesent sollicitudin id orci eu ullamcorper. Phasellus semper orci ante, eget semper ex pellentesque in. Donec dapibus cursus nunc, ut viverra mauris convallis sit amet. Suspendisse quis diam odio. In id ante volutpat, accumsan metus sit amet, ultrices justo. Quisque diam elit, lobortis eget arcu vitae, finibus ultrices augue.</p>
                </article>
            </section>
            <br><br><br>
            <section>
                <article>
                    <h1 class="text-center">Heading 3</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo ligula, commodo non gravida nec, dapibus ac quam. Etiam cursus libero eget interdum pellentesque. Phasellus ex neque, pharetra vel placerat a, tristique at turpis. Phasellus eget mi ipsum. Proin commodo, sapien elementum scelerisque euismod, orci ex volutpat felis, in varius urna erat vestibulum nisl. Nam auctor enim vel accumsan volutpat. Duis et risus sapien. Cras imperdiet in lorem in scelerisque.</p>
                    <p class="text-center">Vestibulum venenatis dolor magna, et tincidunt odio varius ut. Phasellus et suscipit dolor. Fusce erat dolor, maximus vitae justo sed, pretium malesuada ex. Maecenas blandit sollicitudin congue. Nullam non aliquet orci. Suspendisse blandit eleifend dui a dignissim. Praesent sollicitudin id orci eu ullamcorper. Phasellus semper orci ante, eget semper ex pellentesque in. Donec dapibus cursus nunc, ut viverra mauris convallis sit amet. Suspendisse quis diam odio. In id ante volutpat, accumsan metus sit amet, ultrices justo. Quisque diam elit, lobortis eget arcu vitae, finibus ultrices augue.</p>
                </article>
            </section>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>