<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header" style="background-color: #f0ad4e!important;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/home"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Error</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %> 
                <%- include("../partials/navbar_hospital.ejs") %>
            <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %> 
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    
    <div class="container">

        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="container small-content">
            <small><i class="fas fa-exclamation-triangle"></i> We hate to say this, but this page doesn't exist...yet.</small>
            <img class="image_404" src="https://i.ibb.co/K9y9fMw/3.png" alt="3" border="0">
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>