<%- include("./partials/header.ejs") %>
<% if(currentUser && currentUser.typeOfUser === "referrer") { %> 
    <%- include("../partials/navbar.ejs") %>
<% } %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer") { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
            <h1 class="header-h1-text">No Auth</h1>
        </header>
        <br><br>
        <p class="text-center">You are not authorized to visit that page.</p>
        <p class="text-center">Go to <a href="/login">login</a> page</p>
    </div>
</div>

<%- include("./partials/footer.ejs") %>