<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <!--CLOCK-->
                <div class="analog">
                    <div class="hand hour"></div>
                    <div class="hand minute"></div>
                    <div class="hand second"></div>
                </div>
            </div>
            <h1 class="header-h1-text">Sign Up</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } else if(currentUser.typeOfUser == "admin") { %>
                    <%- include("../partials/navbar_admin.ejs") %>
                <% } else { %>
                    <%- include("../partials/navbar_nouser.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        </header>

        <%- include("../partials/alert.ejs") %>
        
        <div class="form_div">
            <div id="button-holder" style="width: 100%; margin: 0 auto; display: flex;">
                <button id="doctor-button" class="text-break text-wrap button btn btn-primary" value="doctor" style="margin: 0.2rem; border-width: 2px;">Doctor</button>
                <button id="hospital-button" class="text-break text-wrap button btn btn-outline-primary" value="hospital" style="margin: 0.2rem; border-width: 2px;">Hospital</button>
            </div>
            <br>
            <div id="form-holder">
                <form action="/referrers/register" method="POST">
                    <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                        <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Sign up as a doctor</p>
                        <!--Username-->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" name="username" required>
                            <label for="username">Username</label>
                        </div>
                        <!--Password-->
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <!--Button-->
                        <div class="button-group" style="width: 100%;">
                            <input type="submit" class="button btn btn-primary" value="Sign up" style="width: 100%;">
                        </div>
                    </div>
                    <br>
                    <div style="display: grid; align-items: baseline;">
                        <p class="text-center lh-1" style="display: flex; align-items: center; justify-content: center;">
                            <input type="checkbox" id="terms" required style="margin-right: 0.5rem;">
                            <label for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                        </p>
                        <p class="text-center text-muted lh-1" style="font-size: 0.8rem">We'll never share your personal info with anyone else.</p>
                        <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

<script>
    var formHolder = document.getElementById("form-holder");
    var buttonHolder = document.getElementById("button-holder");
    var doctorButton = document.getElementById("doctor-button");
    var hospitalButton = document.getElementById("hospital-button");

    buttonHolder.addEventListener("click", function(e) {
        if(e.target.value === "doctor") {
            formHolder.innerHTML = `
            <form action="/referrers/register" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                    <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Sign up as a doctor</p>
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-primary" value="Sign up" style="width: 100%;">
                    </div>
                </div>
                <br>
                <div style="display: grid; align-items: center;">
                    <p class="text-center lh-1" style="display: flex; align-items: center; justify-content: center;">
                        <input type="checkbox" id="terms" required style="margin-right: 0.5rem;">
                        <label for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                    </p>
                    <p class="text-center text-muted lh-1" style="font-size: 0.8rem">We'll never share your personal info with anyone else.</p>
                    <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                </div>
            </form>
            `;
            doctorButton.classList.add("btn-primary");
            doctorButton.classList.remove("btn-outline-primary");
            hospitalButton.classList.add("btn-outline-primary");
            hospitalButton.classList.remove("btn-primary");
            return;
        }
        if(e.target.value === "hospital") {
            formHolder.innerHTML = `
            <form action="/hospitals/register" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                    <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Register a healthcare institution</p>
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-primary" value="Sign up" style="width: 100%;">
                    </div>
                </div>
                <br>
                <div style="display: grid; align-items: center;">
                    <p class="text-center lh-1" style="display: flex; align-items: center; justify-content: center;">
                        <input type="checkbox" id="terms" required style="margin-right: 0.5rem;">
                        <label for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                    </p>
                    <p class="text-center text-muted lh-1" style="font-size: 0.8rem">We'll never share your personal info with anyone else.</p>
                    <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                </div>
            </form>
            `;
            doctorButton.classList.remove("btn-primary");
            doctorButton.classList.add("btn-outline-primary");
            hospitalButton.classList.remove("btn-outline-primary");
            hospitalButton.classList.add("btn-primary");
        }
    });
</script>

<%- include("../partials/footer.ejs") %>