<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container" style="height: 100vh;">
        <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer") { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
            <h1 class="header-h1-text">Create an Account</h1>
        </header>
    
        <%- include("../partials/alert.ejs") %>
        
        <div style="height: 70vh; display: grid;">
            <div id="form-holder">
            <form action="/referrers/register" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: 30%; margin: 0 auto;">
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-primary" value="Create account" style="width: 100%; font-family: 'Poppins', sans-serif;">
                    </div>
                </div>
                <br>
                <p class="text-center lh-1" style="display: flex; align-items: center; justify-content: center;">
                <input type="checkbox" id="terms" required style="margin-right: 0.5rem;">
                <label for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                </p>
                <p class="text-center text-muted lh-1" style="font-size: 0.8rem">We'll never share your personal info with anyone else.</p>
                <br>
                <p class="text-center" style="">Already registered? <a href="/login" style="font-family: 'Poppins', sans-serif;">Login</a></p>
                <p class="text-center" style=""><a href="/hospitals/register" style="font-family: 'Poppins', sans-serif;">Register</a> a hospital</p>
            </form>
            </div>
        </div>
    </div>
    
    <%- include("../partials/footerBanner.ejs") %>
    
    <div class="container-fluid" id="footer-container">
        <div class="footer-container-content"></div>
        <hr class="hr-bottom">
        <p class="text-center">©2021. All Rights Reserved. PATIENTREF®</p>
        <div class="socials">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
    </div>
</div>

<%- include("../partials/header.ejs") %>