<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text"><%= hospital.hosp %> </h1>
                <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            </div>
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer") { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                <% } else { %> 
                    <%- include("../partials/navbar_hospital.ejs") %>
                <% } %> 
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br>

        <!--PROFILE-->
        <div class="profile">
            <h1 class="header-h1-text text-center">Institution Profile</h1>
            <hr>
            <p class="profile-details-paragraph"><span class="lead">Institution type</span><br><span><%=hospital.hospitalDetails.institution_type%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Name</span><br><span><%=hospital.hospitalDetails.name%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Address</span><br><span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;"><%=hospital.hospitalDetails.address%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Emails</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=hospital.hospitalDetails.email%></span></p>
            <p class="profile-details-paragraph"><span class="lead">Phone numbers</span><br><span class="text-wrap text-break lh-1 overflow-auto"><%=hospital.hospitalDetails.phone%></span></p>
            <% if(hospital.hospitalDetails.website.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Website</span><br><span><%=hospital.hospitalDetails.website%></span></p>
            <% } %> 
            <% if(hospital.hospitalDetails.cmd.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">CMD</span><br><span><%=hospital.hospitalDetails.cmd%></span></p>
            <% } %> 
            <% if(hospital.hospitalDetails.ceo.length > 0) { %>
                <p class="profile-details-paragraph"><span class="lead">CEO</span><br><span><%=hospital.hospitalDetails.ceo%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.consultants >= 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Number of consultants</span><br><span><%=hospital.hospitalDetails.consultants%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.doctors >= 0) { %>
                <p class="profile-details-paragraph"><span class="lead">Number of doctors</span><br><span><%=hospital.hospitalDetails.doctors%></span></p>
            <% } %>
        </div>
        <br>

        <!--DEPARTMENTS-->
        <% if(hospital.hospitalDetails.departments.length > 0) { %>
            <div class="departments">
                <h1 class="header-h1-text text-center">Institution Structure</h1>
                <hr>
                
                <% hospital.hospitalDetails.departments.forEach(function(department) { %>
                    <div class="department">
                        <p class="profile-details-paragraph"><span class="lead">Department name</span><br><span><%=department.name%></span></p>
                        <p class="profile-details-paragraph"><span class="lead">Number of clinical staff</span><br><span><%=department.staff_count%></span></p>
                        <p class="profile-details-paragraph">
                            <span class="lead">Procedures</span><br>
                            <span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;">
                                <% department.procedures.forEach(function(procedure, index, arr) { %>
                                    <% if(index != (arr.length - 1)) { %>
                                        <%= procedure %>,
                                    <% } else { %>
                                        <%= procedure %>
                                    <% } %>
                                <% }); %>
                            </span>
                        </p>
                    </div>
                <% }); %>    
            </div>
        <% } %> 
        <br>

        <!--PROCEDURES-->
        <% if(hospital.hospitalDetails.procedures.length > 0) { %> 
            <div class="profile_procedures">
                <h1 class="header-h1-text text-center" style="width: 100%;">Procedures</h1>
                <hr>
                <br>
                <div class="overflow auto" style="display: flex; justify-content: space-evenly; height: 70%;">
                    <div>
                        <% for(var i = 0; i < hospital.hospitalDetails.procedures.length; i+=2) { %> 
                            <p><%= hospital.hospitalDetails.procedures[i] %> </p>
                        <% } %> 
                    </div>
                    <div>
                        <% for(var i = 1; i < hospital.hospitalDetails.procedures.length; i+=2) { %> 
                            <p><%= hospital.hospitalDetails.procedures[i] %> </p>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %> 
        <br>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>