<%- include("../partials/header.ejs") %>

    <!--Set redirect route on clicking logo-->
    <% var logoRoute = "/home"; %>
    <% if(currentUser) { %>
        <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
            <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
        <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
            <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
        <% } else if(currentUser.typeOfUser == "admin") { %>
            <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
        <% } %>
    <% } %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;"><a href=<%=logoRoute %> ><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a></div>
        <h1 class="header-h1-text">About Fastclinic</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_hospital.ejs") %>
            <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="content drop__shadow" style="width: 100%; border-radius: 10px;">
            <article class="lead" style="font-family: 'Josefin sans', sans-serif;">
                <h1 class="text-center display-4 text-uppercase">Who we are</h1>
                <p class="text-center">Fastclinic is an efficient service for connecting patients to health and care institutions. We connect patients with top-tier healthcare institutions for quick and effective care. Built out
                    of the need to speed up the Nigerian healthcare delivery pipeline, Fastclinic eliminates the bottlenecks in the patient referral pipeline by seamlessly matching patients with the best
                    health and care facilities nearest to them.
                </p>
            </article>
        </div><br><br>
        <div class="content drop__shadow" style="width: 100%; border-radius: 10px;">
            <article class="lead" style="font-family: 'Josefin sans', sans-serif;">
                <h1 class="text-center display-4 text-uppercase">What we do</h1>
                <br>
                <h3 class="text-center display-6">We accelerate healthcare delivery</h3>
                <p class="text-center">At Fastclnic we belive that everyone has a right to quality healthcare. Standing as obstructions to quality healthcare delivery in Nigeria are factors such as hospital overcrowding, insufficient
                    or ineffective facilities, and shortage of healthcare pratitioners. Hospital overcrowding, for one, is a major cause of reduced effectiveness and increased frustration among physicians
                    and allied health practitioners. The consequence of work-related frustration and reduced vigor and healcare works is reduced quality of clinical services. This is a problem; so how do
                    we solve it? Fastclinic provides a vital organ to the system of solving this problem by redirecting patient flow from overcrowded hospitals to highly functional, efficient and less crowded
                    ones closest to the patients.
                </p>
                <br>
                <h3 class="text-center display-6">We help shorten patient waiting time</h3>
                <p class="text-center">The average patient spends substantial amount of time in the hospital waiting for services to be rendered by clinicians and other health professionals. Patient waiting time is a crucial factor
                    in the healthcare delivery pipeline and is a major determinant of healthcare quality as well as patient satisfaction. According to research, patient waiting time hovers around 2 – 3 hours
                    on the average in the outpatient departments of (especially public) hospitals in Nigeria. That is an outrageous amount of time to spend waiting for healthcare services, in any context.
                    Fastclinic referrers effectively shorten waiting time by easing patient throughput in over-booked institutions, and transferrig same to institutions that have the capacity and quality
                    to handle it.
                </p>
            </article>
        </div><br><br>
        <div class="content drop__shadow" style="width: 100%; border-radius: 10px;">
            <article class="lead" style="font-family: 'Josefin sans', sans-serif;">
                <h1 class="text-center display-4 text-uppercase">Our community</h1>
                <br>
                <p class="text-center">
                    We have a great team of physicians who are helping to bolster the clinical service delivery pipeline by moving patients closer to effective healthcare. By registering as a referrer for Fastclinic, you would not only be joining a community of highly respected
                    medical practitioners, you would also be contributing to a global effort to make quality healthcare accessible to all. Hospitals that sign up at Fastclinic are recording improved patient
                    throughput, and patients are reporting shorter waiting times and better healthcare services overall. We at Fastclinic are helping to shape the future of healthcare – which we believe
                    is largely remote.
                </p>
            </article>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>