<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/home"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                <% if(currentUser) {  %>
                    <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                        <div style="display: flex; align-items: flex-start; width: 10%;">
                            <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %>
                                <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                                <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                                <% } else { %>
                                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                                    <% } %>
                        </div>
                        <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                            <div style="display: flex; align-items: flex-start; width: 10%;">
                                <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %>
                                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                                    <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                                    <% } else { %>
                                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                                        <% } %>
                            </div>
                            <% } %>
                                <% } %>
            </div>
            <h1 class="header-h1-text">FAQs</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <% if(currentUser) { %>
                <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                    <%- include("../partials/navbar_referrer.ejs") %>
                        <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                            <%- include("../partials/navbar_hospital.ejs") %>
                                <% } else if(currentUser.typeOfUser == "admin") { %>
                                    <%- include("../partials/navbar_admin.ejs") %>
                                        <% } else { %>
                                            <%- include("../partials/navbar_nouser.ejs") %>
                                                <% } %>
                                                    <% } else { %>
                                                        <%- include("../partials/navbar_nouser.ejs") %>
                                                            <% } %>
        </header>

        <div class="container">

            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" id="accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Why is my account pending?
                    </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                By default, every referrer and hospital account is inactive upon sign up. In the first 72 hours following sign up, Fastclinic conducts a background check on the user and the findings of this background check directly influence whether or not a user account
                                is activated.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" id="accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Why is my account suspended?
                    </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                An account is suspended when used by the account holder in ways that are in breech of one or more of Fastclinic's <a href="/terms">terms and conditions</a> and/or <a href="privacy">privacy policies</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
        </div>
        <div class="space"></div>
    </div>

    <script>
        var toggleHideButtons = Array.from(document.querySelectorAll("#toggle_content"));
        var hiddenContent = Array.from(document.querySelectorAll("#hidden_content"));

        toggleHideButtons.forEach(function(toggleHideButton, index) {
            toggleHideButton.addEventListener("click", function() {
                hiddenContent[index].classList.toggle("toggleHide");
                hiddenContent[index].classList.toggle("toggleShow");
                toggleHideButton.classList.toggle("rotate_180");
            });
        });
    </script>

    <%- include("../partials/footer.ejs") %>