<%- include("../partials/header.ejs") %>
    <% var logoRoute = "/home"; %>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
                    <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                        <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
                            <% } else if(currentUser.typeOfUser == "admin") { %>
                                <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
                                    <% } %>
                                        <% } %>

                                            <div class="container-fluid" id="container-fluid">
                                                <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
                                                    <div style="display: flex; align-items: center; justify-content: center;">
                                                        <a href=<%=logoRoute %> ><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                                                    </div>
                                                    <h1 class="header-h1-text">Fastclinic</h1>
                                                    <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                                                    <% if(currentUser) { %>
                                                        <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                                                            <%- include("../partials/navbar_referrer.ejs") %>
                                                                <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                                                                    <%- include("../partials/navbar_hospital.ejs") %>
                                                                        <% } else if(currentUser.typeOfUser == "admin") { %>
                                                                            <%- include("../partials/navbar_admin.ejs") %>
                                                                                <% } else { %>
                                                                                    <%- include("../partials/navbar_nouser.ejs") %>
                                                                                        <% } %>
                                                                                            <% } else { %>
                                                                                                <%- include("../partials/navbar_nouser.ejs") %>
                                                                                                    <% } %>
                                                </header>

                                                <div class="container">
                                                    <%- include("../partials/alert.ejs") %>
                                                        <br>
                                                </div>
                                                <div class="space"></div>
                                            </div>
                                            <div style="position: relative;">
                                                <article class="content home__article" id="articleOne">
                                                    <section style="position: relative;">
                                                        <h1 class="display-3 text-center">Improve healthcare delivery.</h1>
                                                        <br>
                                                        <p class="text-center">Fastclinic is an efficient Software-as-a-Service (SaaS) platform that helps healthcare practitioners seamlessly connect patients to health and care institutions, to speed up the healthcare delivery
                                                            pipeline.
                                                        </p>
                                                        <br><br>
                                                        <div class="button-group" style="width: 50%; margin: 0 auto;">
                                                            <button onclick="window.location.href='/login';" type="button" class="button btn btn-info home__signin--button" style="width: 45%;">Login</button>
                                                            <button onclick="window.location.href='/register';" type="button" class="button btn btn-primary home__signin--button" style="width: 45%;">Sign up</button>
                                                        </div>
                                                    </section>
                                                </article>
                                                <article class="content home__article" id="articleTwo">
                                                    <section style="position: relative;">
                                                        <h1 class="display-3 text-center">Shorten waiting time.</h1>
                                                        <br>
                                                        <p class="text-center">Fastclinic is an efficient Software-as-a-Service (SaaS) platform that helps healthcare practitioners seamlessly connect patients to health and care institutions, to speed up the healthcare delivery
                                                            pipeline.
                                                        </p>
                                                        <br><br>
                                                        <div class="button-group" style="width: 50%; margin: 0 auto;">
                                                            <button onclick="window.location.href='/login';" type="button" class="button btn btn-info home__signin--button" style="width: 45%;">Login</button>
                                                            <button onclick="window.location.href='/register';" type="button" class="button btn btn-primary home__signin--button" style="width: 45%;">Sign up</button>
                                                        </div>
                                                    </section>
                                                </article>
                                                <article class="content home__article" id="articleThree">
                                                    <section style="position: relative;">
                                                        <h1 class="display-3 text-center">Join the community.</h1>
                                                        <br>
                                                        <p class="text-center">Fastclinic is an efficient Software-as-a-Service (SaaS) platform that helps healthcare practitioners seamlessly connect patients to health and care institutions, to speed up the healthcare delivery
                                                            pipeline.
                                                        </p>
                                                        <br><br>
                                                        <div class="button-group" style="width: 50%; margin: 0 auto;">
                                                            <button onclick="window.location.href='/login';" type="button" class="button btn btn-info home__signin--button" style="width: 45%;">Login</button>
                                                            <button onclick="window.location.href='/register';" type="button" class="button btn btn-primary home__signin--button" style="width: 45%;">Sign up</button>
                                                        </div>
                                                    </section>
                                                </article>
                                                <article class="content home__article" id="articleFour">
                                                    <section style="position: relative;">
                                                        <h1 class="display-3 text-center">Become a contributor.</h1>
                                                        <br>
                                                        <p class="text-center">Fastclinic is an efficient Software-as-a-Service (SaaS) platform that helps healthcare practitioners seamlessly connect patients to health and care institutions, to speed up the healthcare delivery
                                                            pipeline.
                                                        </p>
                                                        <br><br>
                                                        <div class="button-group" style="width: 50%; margin: 0 auto;">
                                                            <button onclick="window.location.href='/login';" type="button" class="button btn btn-info home__signin--button" style="width: 45%;">Write for us</button>
                                                            <button onclick="window.location.href='/register';" type="button" class="button btn btn-primary home__signin--button" style="width: 45%;">Suggest articles</button>
                                                        </div>
                                                    </section>
                                                </article>
                                            </div>

                                            <%- include("../partials/footer.ejs") %>