<%- include("../partials/header.ejs") %>
    <% var logoRoute = "/home"; %>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
                    <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                        <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
                            <% } else if(currentUser.typeOfUser == "admin") { %>
                                <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
                                    <% } %>
                                        <% } %>

                                            <div class="container-fluid" id="container-fluid">
                                                <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
                                                    <div style="display: flex; align-items: center; justify-content: center;">
                                                        <a href=<%=logoRoute %> ><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                                                    </div>
                                                    <h1 class="header-h1-text">Login</h1>
                                                    <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                                                    <% if(currentUser) { %>
                                                        <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                                                            <%- include("../partials/navbar_referrer.ejs") %>
                                                                <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                                                                    <%- include("../partials/navbar_hospital.ejs") %>
                                                                        <% } else if(currentUser.typeOfUser == "admin") { %>
                                                                            <%- include("../partials/navbar_admin.ejs") %>
                                                                                <% } else { %>
                                                                                    <%- include("../partials/navbar_nouser.ejs") %>
                                                                                        <% } %>
                                                                                            <% } else { %>
                                                                                                <%- include("../partials/navbar_nouser.ejs") %>
                                                                                                    <% } %>
                                                </header>

                                                <div class="container">

                                                    <%- include("../partials/alert.ejs") %>
                                                        <br>

                                                        <div class="form_div drop__shadow">
                                                            <br>
                                                            <p class="text-center lead">Choose account type</p>
                                                            <small class="text-muted text-center">Log in as a:</small>
                                                            <div id="button-holder" style="width: 100%; margin: 0 auto; display: flex;">
                                                                <button id="doctor-button" class="text-break text-wrap button btn btn-success" style="margin: 0.2rem; border-width: 2px;" onclick="window.location.href='/accounts/referrers/login';">Doctor</button>
                                                                <button id="hospital-button" class="text-break text-wrap button btn btn-success" style="margin: 0.2rem; border-width: 2px;" onclick="window.location.href='/accounts/hospitals/login';">Hospital</button>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <br><br><br><br><br>

                                            <%- include("../partials/footer.ejs") %>