<%- include("../partials/header.ejs") %>
    <% var logoRoute = "/home"; %>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
                    <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                        <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
                            <% } else if(currentUser.typeOfUser == "admin") { %>
                                <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
                                    <% } %>
                                        <% } %>

                                            <div class="container-fluid" id="container-fluid">
                                                <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
                                                    <div style="display: flex; align-items: center; justify-content: center;">
                                                        <a href=<%=logoRoute %> ><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                                                    </div>
                                                    <h1 class="header-h1-text">Sign Up</h1>
                                                    <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                                                    <% if(currentUser) { %>
                                                        <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                                                            <%- include("../partials/navbar_referrer.ejs") %>
                                                                <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                                                                    <%- include("../partials/navbar_hospital.ejs") %>
                                                                        <% } else if(currentUser.typeOfUser == "admin") { %>
                                                                            <%- include("../partials/navbar_admin.ejs") %>
                                                                                <% } else { %>
                                                                                    <%- include("../partials/navbar_nouser.ejs") %>
                                                                                        <% } %>
                                                                                            <% } else { %>
                                                                                                <%- include("../partials/navbar_nouser.ejs") %>
                                                                                                    <% } %>
                                                </header>

                                                <div class="container">

                                                    <%- include("../partials/alert.ejs") %>
                                                        <br>

                                                        <div class="form_div">
                                                            <p class="text-secondary text-center" style="font-weight: bold;">Select account type</p>
                                                            <div id="button-holder" style="width: 100%; margin: 0 auto; display: flex;">
                                                                <button id="doctor-button" class="text-break text-wrap button btn btn-success" value="doctor" style="margin: 0.2rem; border-width: 2px;">Doctor</button>
                                                                <button id="hospital-button" class="text-break text-wrap button btn btn-outline-success" value="hospital" style="margin: 0.2rem; border-width: 2px;">Hospital</button>
                                                            </div>
                                                            <br>
                                                            <div id="form-holder">
                                                                <form action="/referrers/register" method="POST">
                                                                    <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                                                                        <p class="text-center text-wrap text-break text-muted border border-success" id="login-info" style="margin-bottom: 2rem; height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #fff;">Create a doctor account</p>
                                                                        <!--Username-->
                                                                        <div class="form-floating mb-3">
                                                                            <input type="text" class="form-control" id="username" name="username" required>
                                                                            <label for="username">Username</label>
                                                                        </div>
                                                                        <!--Password-->
                                                                        <div class="form-floating">
                                                                            <input type="password" class="form-control" id="password" name="password" required>
                                                                            <label for="password">Password</label>
                                                                        </div>
                                                                        <!--Button-->
                                                                        <div class="button-group" style="width: 100%;">
                                                                            <input type="submit" class="button btn btn-success" value="Create account" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                                                                        </div>
                                                                    </div>
                                                                    <div style="display: grid;">
                                                                        <div class="text-justify lh-1" style="padding: 1rem; display: flex;">
                                                                            <input class="form-check-input" type="checkbox" id="terms" style="padding: 6px; margin-right: 1rem;" required>
                                                                            <label class="form-check-label" for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions of Use</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                                                                        </div>
                                                                        <p class="text-center text-muted lh-1" style="padding: 1rem; font-size: 0.8rem">We will never share your personal info with anyone else.</p>
                                                                        <br>
                                                                        <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <br><br><br><br><br>
                                                </div>
                                            </div>

                                            <script>
                                                var formHolder = document.getElementById("form-holder");
                                                var buttonHolder = document.getElementById("button-holder");
                                                var doctorButton = document.getElementById("doctor-button");
                                                var hospitalButton = document.getElementById("hospital-button");

                                                buttonHolder.addEventListener("click", function(e) {
                                                    if (e.target.value === "doctor") {
                                                        formHolder.innerHTML = `
            <form action="/referrers/register" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                    <p class="text-center text-wrap text-break text-muted border border-success" id="login-info" style="height: auto; margin-bottom: 2rem; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #fff;">Create a doctor account</p>
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-success" value="Create account" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                    </div>
                </div>
                <div style="display: grid;">
                    <div class="text-justify lh-1" style="padding: 1rem; display: flex;">
                        <input class="form-check-input" type="checkbox" id="terms" style="padding: 6px; margin-right: 1rem;" required>
                        <label class="form-check-label" for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions of Use</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                    </div>
                    <p class="text-center text-muted lh-1" style="padding: 1rem; font-size: 0.8rem">We will never share your personal info with anyone else.</p>
                    <br>
                    <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                </div>
            </form>
            `;
                                                        doctorButton.classList.add("btn-success");
                                                        doctorButton.classList.remove("btn-outline-success");
                                                        hospitalButton.classList.add("btn-outline-success");
                                                        hospitalButton.classList.remove("btn-success");
                                                        return;
                                                    }
                                                    if (e.target.value === "hospital") {
                                                        formHolder.innerHTML = `
            <form action="/hospitals/register" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                    <p class="text-center text-wrap text-break text-muted border border-success" id="login-info" style="height: auto; margin-bottom: 2rem; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #fff;">Create a hospital account</p>
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-success" value="Create account" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem;">
                    </div>
                </div>
                <div style="display: grid;">
                    <div class="text-justify lh-1" style="padding: 1rem; display: flex;">
                        <input class="form-check-input" type="checkbox" id="terms" style="padding: 6px; margin-right: 1rem;" required>
                        <label class="form-check-label" for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions of Use</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
                    </div>
                    <p class="text-center text-muted lh-1" style="padding: 1rem; font-size: 0.8rem">We will never share your personal info with anyone else.</p>
                    <br>
                    <p class="text-center">Do you have an account? <a href="/login" style="font-family: 'Poppins', sans-serif;">Sign in</a></p>
                </div>
            </form>
            `;
                                                        doctorButton.classList.remove("btn-success");
                                                        doctorButton.classList.add("btn-outline-success");
                                                        hospitalButton.classList.remove("btn-outline-success");
                                                        hospitalButton.classList.add("btn-success");
                                                    }
                                                });
                                            </script>

                                            <%- include("../partials/footer.ejs") %>