<%- include("../partials/header.ejs") %>
    
    <!--Set redirect route on clicking logo-->
    <% var logoRoute = "/home"; %>
    <% if(currentUser) { %>
        <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
            <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
        <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
            <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
        <% } else if(currentUser.typeOfUser == "admin") { %>
            <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
        <% } %>
    <% } %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;"><a href=<%=logoRoute %>> <img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a></div>
        <h1 class="header-h1-text">Institution Info</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_hospital.ejs") %>
           <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <!--PROFILE OVERVIEW-->
        <div class="profile drop__shadow">
            <h1 class="header-h1-text text-center">Profile Overview</h1>
            <hr>
            <p class="profile-details-paragraph lh-1"><span class="lead">Institution type</span><br><span><%=hospital.hospitalDetails.institution_type%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Name</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.name%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Address</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.address%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Emails</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.email%></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Phone numbers</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.phone%></span></p>
            <% if(hospital.hospitalDetails.website.length > 0) { %>
                <p class="profile-details-paragraph lh-1"><span class="lead">Website</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.website%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.cmd.length > 0) { %>
                <p class="profile-details-paragraph lh-1"><span class="lead">CMD</span><br><span class="paragraph__span overflow-auto"><%=hospital.hospitalDetails.cmd%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.ceo.length > 0) { %>
                <p class="profile-details-paragraph lh-1"><span class="lead">CEO</span class="paragraph__span overflow-auto"><br><span><%=hospital.hospitalDetails.ceo%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.consultants >= 0) { %>
                <p class="profile-details-paragraph lh-1"><span class="lead">Number of consultants</span><br><span><%=hospital.hospitalDetails.consultants%></span></p>
            <% } %>
            <% if(hospital.hospitalDetails.doctors >= 0) { %>
                <p class="profile-details-paragraph lh-1"><span class="lead">Number of doctors</span><br><span><%=hospital.hospitalDetails.doctors%></span></p>
            <% } %>
        </div><br>

        <!--DEPARTMENTS-->
        <% if(hospital.hospitalDetails.departments.length > 0) { %>
            <div class="departments overflow-auto drop__shadow">
                <h1 class="header-h1-text text-center">Departments</h1>
                <hr>
                <% hospital.hospitalDetails.departments.forEach(function(department) { %>
                    <div class="department drop__shadow">
                        <p class="profile-details-paragraph"><span class="lead">Department name</span><br><span><%=department.name%></span></p>
                        <p class="profile-details-paragraph"><span class="lead">Number of clinical staff</span><br><span><%=department.staff_count%></span></p>
                        <p class="profile-details-paragraph">
                            <span class="lead">Units</span><br>
                            <span class="text-wrap text-break lh-1 overflow-auto" style="font-size: 0.8rem;">
                                <% department.units.forEach(function(unit, index, arr) { %>
                                    <% if(index != (arr.length - 1)) { %>
                                        <%= unit %>,
                                    <% } else { %>
                                        <%= unit %>
                                    <% } %>
                                <% }); %>
                            </span>
                        </p>
                    </div>
                <% }); %>
                <br><br><br>
            </div>
        <% } %><br>

        <!--PROCEDURES-->
        <% if(hospital.hospitalDetails.procedures.length > 0) { %>
            <div class="profile_procedures drop__shadow">
                <h1 class="header-h1-text text-center" style="width: 100%;">Procedures</h1>
                <hr><br>
                <div class="overflow auto" style="display: flex; justify-content: space-evenly; height: 70%;">
                    <div>
                        <% for(var i = 0; i < hospital.hospitalDetails.procedures.length; i+=2) { %>
                            <p><%= hospital.hospitalDetails.procedures[i] %></p>
                        <% } %>
                    </div>
                    <div>
                        <% for(var i = 1; i < hospital.hospitalDetails.procedures.length; i+=2) { %>
                            <p><%= hospital.hospitalDetails.procedures[i] %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>