<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header" style="display: flex; align-items: center;">
            <div style="display: flex; align-items: center;">

            </div>
            <h1 class="header-h1-text"><span><%= currentUser.referrerDetails.title.toUpperCase() %></span> <span><%= currentUser.referrerDetails.name.toUpperCase() %> </span></h1>
            <div style="display: flex; align-items: flex-start;">  
                <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %> 
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 3rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 3rem; color: white;"></i></a></p>
                <% } %> 
            </div>
        </header>
        
        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="container">
            <div class="dashboard-buttons-div">
                <!--REFER A PATIENT-->
                <button class="dashboard-button-normal" onclick="window.location.href='/referrers/<%=currentUser.username%>/patients/new';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-hospital-user extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Refer a Patient</span>
                </button>
                <!--PATIENTS-->
                <button class="dashboard-button-normal" onclick="window.location.href='/referrers/<%=currentUser.username%>/patients';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-procedures extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Patients</span>
                </button>
                <!--PROFILE-->
                <button class="dashboard-button-normal" onclick="window.location.href='/referrers/<%=currentUser.username%>/profile';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-user-md extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Profile</span>
                </button>
                <!--FAQs-->
                <button class="dashboard-button-normal" onclick="window.location.href='/faq';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-question extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">FAQs</span>
                </button>
                    <!--CONTACT US-->
                <button class="dashboard-button-normal" onclick="window.location.href='/contact';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-phone-alt extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Contact</span>
                </button>
                <!--LOG OUT-->
                <button class="dashboard-button-grey" onclick="window.location.href='/logout';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-power-off extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Log Out</span>
                </button>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>