<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header" style="background-color: #d9534f!important;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <!--CLOCK-->
                <div class="analog">
                    <div class="hand hour"></div>
                    <div class="hand minute"></div>
                    <div class="hand second"></div>
                </div>
                <div style="display: flex; align-items: flex-start; width: 10%;">  
                    <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %> 
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %> 
                        </div>
                    </div>
            <h1 class="header-h1-text">Deactivate Account</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="deregister-content overflow-auto">
            <p class="text-center" style="font-family: 'Open Sans', sans-serif;"><strong>What can we do to resolve this?</strong></p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo ligula, commodo non gravida nec, dapibus ac quam. Etiam cursus libero eget interdum pellentesque. Phasellus ex neque, pharetra vel placerat a, tristique at turpis. Phasellus eget mi ipsum. Proin commodo, sapien elementum scelerisque euismod, orci ex volutpat felis, in varius urna erat vestibulum nisl. Nam auctor enim vel accumsan volutpat. Duis et risus sapien. Cras imperdiet in lorem in scelerisque.</p>
            <p class="text-center">Vestibulum venenatis dolor magna, et tincidunt odio varius ut. Phasellus et suscipit dolor. Fusce erat dolor, maximus vitae justo sed, pretium malesuada ex. Maecenas blandit sollicitudin congue. Nullam non aliquet orci. Suspendisse blandit eleifend dui a dignissim. Praesent sollicitudin id orci eu ullamcorper. Phasellus semper orci ante, eget semper ex pellentesque in. Donec dapibus cursus nunc, ut viverra mauris convallis sit amet. Suspendisse quis diam odio. In id ante volutpat, accumsan metus sit amet, ultrices justo. Quisque diam elit, lobortis eget arcu vitae, finibus ultrices augue.</p>
        </div>
        <br><br>
        <div style="width: 50%; margin: auto; background-color: white; border: 1px solid lightgray; padding: 2rem;">
            <p class="text-center" style="font-family: 'Open Sans', sans serif;">Still want to deactivate? We'll miss you.</p>
            <form action="/referrers/<%=currentUser._id%>?_method=DELETE" method="POST">
                <!--Name-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" value="Doctor <%= currentUser.referrerDetails.name %>" readonly>
                    <label for="name">Name</label>
                </div>
                <!--Reason for deactivating-->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="content" name="reason" style="height: 10rem;"></textarea>
                    <label for="content">Reason for deactivating</label>
                </div>
                <!--Buttons-->
                <div class="button-group" style="width: 50%; margin: 0 auto;">
                    <input type="submit" class="button btn btn-danger text-wrap" value="Deactivate" style="width: 50%; margin: 0.25rem;">
                    <button class="button btn btn-primary" onclick="window.location.href='/referrers/<%=currentUser.username%>/dashboard';" style="width: 50%; margin: 0.25rem;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>