<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container"> <br>
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <!--CLOCK-->
                <div class="analog">
                    <div class="hand hour"></div>
                    <div class="hand minute"></div>
                    <div class="hand second"></div>
                </div>
                <div style="display: flex; align-items: flex-start; width: 10%;">  
                    <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %> 
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %> 
                        </div>
                    </div>
            <h1 class="header-h1-text">Edit Profile</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>

        <%- include("../partials/alert.ejs") %> 
        <br>

        <div class="form-wrap">
            <form action="/referrers/<%=currentUser.username%>/update?_method=PUT" method="POST">
                <div class="row g-3 align-items-center justify-content-center form-wrap">
                    <!--Professional tile-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="title" name="title" value="Doctor" readonly>
                        <label for="name">Professional title</label>
                    </div>
                    <!--First name-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="firstname" name="firstname" value="<%= currentUser.referrerDetails.firstname %>">
                        <label for="firstname">First name</label>
                    </div>
                    <!--Last name-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="lastname" name="lastname" value="<%= currentUser.referrerDetails.lastname %>">
                        <label for="lastname">Last name</label>
                    </div>
                    <!--Phone number-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="phone" name="phone" value="<%= currentUser.referrerDetails.phone %>">
                        <label for="phone">Phone number</label>
                    </div>
                    <!--Institution of practice-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="institution" name="institution" value="<%= currentUser.referrerDetails.institution%>">
                        <label for="institution">Institution of practice</label>
                    </div>
                    <!--Address of institution-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="address" name="address" style="height: 10rem;"><%= currentUser.referrerDetails.address %></textarea>
                        <label for="address">Address of institution of practice</label>
                    </div>
                    <!--Account number-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="ac_number" name="ac_number" value="<%= currentUser.referrerDetails.ac_number %>" maxlength="10">
                        <label for="ac_number">Account number</label>
                    </div>
                    <!--Account name-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="ac_name" name="ac_name" value="<%= currentUser.referrerDetails.ac_name %>">
                        <label for="ac_name">Account name</label>
                    </div>
                    <!--Bank name-->
                    <div class="form-floating mb-3">
                        <input style="padding-left: 0.5rem; padding-right: 0.5rem;" type="text" class="form-control" id="bank" name="bank" value="<%= currentUser.referrerDetails.bank %>">
                        <label for="bank">Bank name</label>
                    </div>
                    <!--Buttons-->
                    <div class="button-group" style="width: 100%; margin-top: 5rem;">
                        <input type="submit" class="button btn btn-primary" value="Confirm" style="font-family: 'Poppins', sans-serif; width: 45%;">
                        <button type="reset" class="button btn btn-warning" onclick="window.location.href='/referrers/<%=currentUser.username%>/profile';" style="font-family: 'Poppins', sans-serif; width: 45%;">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>   