<%- include("../partials/header.ejs") %>

<% var messages = [{ sender: "user", content: "HI" }, { sender: "admin", content: "HELLO, HOW CAN I HELP YOU TODAY?" }, {sender: "user", content: "I HAVE A QUESTION." }, { sender: "admin", content: "I'M WITH YOU." }, { sender: "user", content: "I HAVE BEEN DEBITED WRONGLY. WHY?" }, { sender: "user", content: "SORO SOKE, WEREY!" }, { sender: "user", content: "DON'T KEEP ME WAITING OH!!" }] %>


<div class="container" style="display: flex; justify-content: center;">
    <div class="livechat border border-secondary">
        <div class="messages overflow-auto" style="width: 100%;">
            <% currentUser.referrerDetails.messages.forEach(function(message) { %>
                <% if(message.typeOfSender === "admin") { %> 
                    <div class="message-text-div">
                        <p class="message-text-admin text-wrap"> <%= message.content %> </p><br><br>
                    </div>
                <% } else { %>
                    <div class="">
                        <p class="message-text-user text-wrap"> <%= message.content %> </p><br>
                    </div>
                <% } %>  
            <% }) %> 
        </div>
        <form action="/referrers/<%=currentUser._id%>/messages" method="POST" style="margin: 0;">
            <div class="input-group" style="height: fit-content; width: 100%; margin: 0; box-shadow: #0275D8 0px 0px 5px 1px;">
                <input type="text" class="form-control form-control-lg" placeholder="Start typing..." name="content" style="border-radius: 0px; font-family: 'Poppins', sans-serif; font-size: 0.8rem;">
                <input type="submit" value="Send" class="btn btn-primary btn-lg" style="border-radius: 0px; font-family: 'Poppins', sans-serif;">
            </div>
        </form>
    </div>
</div>

<%- include("../partials/footer.ejs") %>