<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;"> 
            <a href="/referrers/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">  
                <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %> 
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %> 
            </div>
        </div>
        <h1 class="header-h1-text">Patient Details</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_referrer.ejs") %>
    </header>

    <div class="container">    
        <%- include("../partials/alert.ejs") %> 
        <br>
        
        <div class="container small-content">
            <% if(patient.status === "unauthenticated") { %> 
                <p style="text-transform: uppercase; font-weight: bold;">Copy the patient accession code below and give it to your patient.</p>
                <br>
                <small class="text-break text-wrap">
                    <strong>Important notice:</strong> Your patient is to tender this code: <strong><%= patient.accession_number %></strong>  at <span><%= patient.hospital_name %></span>. You will not get your commission otherwise.
                </small><br>
                <small>
                    Once your patient has had their investigation(s) done and have been authenticated by the hospital, your commission for the referral will be automatically calculated.
                </small><br>
            <% } %> 
            <small>
                Go to <em>Dashboard</em> and click <em>Patients</em> to see your commission for the current month.
            </small>
        </div>
        <br>

        <div class="row g-3 align-items-center justify-content-center holder_div">
            <% function formatNumber(num) { %>
                <% var numSplit, int, dec; %>
                <% num = parseFloat(num, 10); %>
                <% num = num.toFixed(2); %>
                <% numSplit = num.split("."); %>
                <% int = numSplit[0]; %>
                <% if(int.length > 3) { %>
                    <% int = int.substr(0, int.length - 3) + "," + int.substr(int.length - 3, 3); %>
                <% } %>
                <% dec = numSplit[1]; %>
                <% return int + "." + dec; %>
            <% } %>

            <div class="container holder_div">
                <br>
                <div style="width: 100%; margin: 0 auto;">
                    <p class="text-center"><span class="patient-info lead">ACCESSION NUMBER </span><br><span><%=patient.accession_number%></span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead">NAME </span><br><span><%=patient.name%></span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead overflow-auto">INVESTIGATIONS </span><br> <span><%=patient.investigation%> </span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead">HOSPITAL </span><br> <span><%=patient.hospital_name%> </span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead">HOSPITAL ADDRESS </span><br> <span><%=patient.hospital_address || "ABC Street, Fantasy city, Fantasy state" %> </span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead">AMOUNT PAID </span><br> <span><strike>N</strike><%=formatNumber(patient.amount_paid)%> </span></p>
                    <hr>
                    <p class="text-center"><span class="patient-info lead">COMMISSION PAYABLE </span><br> <span><strike>N</strike><%=formatNumber(patient.referrer_commission)%> </span></p>
                </div>
                <div class="button-group" id="button-group">
                    <% if(patient.status == "unauthenticated") { %> 
                        <button class="button btn btn-outline-primary" onclick="window.location.href='/referrers/<%=currentUser.username%>/patients/<%=patient.accession_number%>/edit';" style="width: 45%;">Edit Patient Info</button>
                    <% } %> 
                </div>
            </div>
        </div>
        <br>
        <% if(patient.status == "authenticated") { %>
            <div>
                <p class="text-center" style="font-size: 0.8rem;"><i class="fas fa-exclamation-circle"></i> <span>You cannot edit an authenticated patient.</span></p>
            </div>
        <% } %> 
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>