<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center;">
                <h1 class="header-h1-text">Profile</h1>
                <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
                <div style="display: flex; align-items: flex-start; width: 10%;">  
                    <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %> 
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                    <% } else { %>
                        <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                    <% } %> 
                </div>
            </div>
            <%- include("../partials/navbar_referrer.ejs") %>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br>
        
        <div class="container" id="profile" style="font-family: 'Open Sans', sans-serif; border: 1px solid lightgrey;">
            <div class="profile-details">
                <p class="profile-details-paragraph"><span class="lead">Name</span><br><span class="">Doctor <%=currentUser.referrerDetails.name%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Institution of practice</span><br><span><%=currentUser.referrerDetails.institution%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Address of Institution</span><br><span class="text-wrap text-break lh-1 overflow-auto   " style="font-size: 0.8rem;"><%=currentUser.referrerDetails.address%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Phone number</span><br><span><%=currentUser.referrerDetails.phone%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Account number</span><br><span><%=currentUser.referrerDetails.ac_number%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Account name</span><br><span><%=currentUser.referrerDetails.ac_name%></span></p>
                <p class="profile-details-paragraph"><span class="lead">Bank<br></span><span><%=currentUser.referrerDetails.bank%></span></p>
                <br><br>
                <button class="btn btn-outline-primary btn-lg" onclick="window.location.href='/referrers/<%=currentUser.username%>/profile/edit';" style="display: block; margin: 0 auto; padding: 1rem 5rem 1rem 5rem; font-family: 'Poppins', sans-serif;">Edit</button>
            </div>
        </div>
        <br>
        <div class="deactivate-account">
            <br>
            <h3 class="text-center">Deactivate Account</h3>
            <hr>
            <p class="deactivate-account-text text-center">Can we resolve this?
                <br><br>
                <small><a href="/contact">Reach us via email</a> with your complaints and/or queries.</small><br>
                <small>Or call our 24/7 hotlines: <a href="#">+234 (0) 806 019-4496</a> | <a href="#">+234 (0) 913 228-3783</a></small>
            </p>
            <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/referrers/<%=currentUser.username%>/deactivate';" style="display: block; margin: 0 auto; padding: 1rem 5rem 1rem 5rem; font-family: 'Poppins', sans-serif;">Deactivate account</button><br>  
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>