<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/departments/<%= user.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(user.unread_notifications_count > 0) { %>
                    <p><a href="/departments/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= user.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/departments/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Department Dashboard</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_hospital.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="container">
            <div class="dashboard-buttons-div">
                <!--PROFILE-->
                <button class="dashboard-button-normal" onclick="window.location.href='#';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-address-card extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Profile</span>
                </button>
                <!--PATIENTS-->
                <button class="dashboard-button-normal" onclick="window.location.href='#';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-users extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">All patients</span>
                </button>
                <!--LOGOUT-->
                <button class="dashboard-button-grey" onclick="window.location.href='#';">
                    <span class="lh-1" style="padding-top: 0.5rem;"><i class="fas fa-power-off extra-big-icon"></i></span> 
                    <span class="lh-1" style="font-weight: 500;">Logout</span>
                </button>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>