<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/departments/<%= user.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(user.unread_notifications_count > 0) { %>
                    <p><a href="/departments/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= user.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/departments/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Edit Profile</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_hospital.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="holder_div drop__shadow">
            <form action="/departments/<%=user.username%>/profile/update?_method=PUT" method="POST">
                <div class="row g-3 align-items-center justify-content-center" id="form_row_div" style="width: 50%; margin: 0 auto;">
                    <!--Name-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" value="<%= user.department_details.name %>" required>
                        <label for="name">Name of department</label>
                        <div class="invalid-feedback">Please enter your department's name</div>
                    </div>
                    <!--HOD-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="hod" name="hod" value="<%= user.department_details.hod %>">
                        <label for="hod">HOD's name</label>
                    </div>
                    <!--Buttons-->
                    <div id="button-group" style="width: 100%; margin-top: 3rem; display: grid; grid-row-gap: 1rem;">
                        <input type="submit" class="button btn btn-success" value="Update profile" style="width: 100%; padding: 2rem;">
                        <button type="button" class="button btn btn-outline-success" style="width: 100%; padding: 1rem;" onclick="window.location.href='/departments/<%=user.username%>/profile';">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
</div>

<%- include("../partials/footer.ejs") %>