<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href=""><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Department Login</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_hospital.ejs") %>
            <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="form_div drop__shadow">
            <div id="form-holder">
                <form class="needs-validation" action="/accounts/departments/login" method="POST" novalidate>
                    <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                        <small class="text-center text-muted border border-2" id="login-info" style="margin-bottom: 2rem; padding: 1rem; width: 100%; border-radius: 10px;">Log into your departmental account.</small>
                        <!--Username-->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control border border-success" id="username" name="username" required>
                            <label for="username">Username</label>
                            <div class="invalid-feedback">Please enter your username.</div>
                        </div>
                        <!--Password-->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control border border-success" id="password" name="password" minlength="4" required>
                            <label for="password">Password</label>
                            <p id="togglePasswordButton" style="cursor: pointer; width: fit-content; font-size: 14px;" onclick="togglePasswordVisibility();">
                                <span>Show password<span>
                                <i class="far fa-eye"></i>
                            </p>
                            <div class="invalid-feedback">Please enter your password.</div>
                        </div>
                        <!--Submit Button-->
                        <div id="button-group" style="width: 100%;">
                            <input type="submit" class="button btn btn-success" value="Login" style="width: 100%; margin: 1rem 0; padding: 2rem;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
</div>

<%- include("../partials/validate-username-and-password.ejs") %>
<%- include("../partials/footer.ejs") %>