<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <% var index = null; %>
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/referrers/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(currentUser.referrerDetails.unread_notifications_count > 0) { %>
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.referrerDetails.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/referrers/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Refer a Patient</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_referrer.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="form-content drop__shadow">
            <form class="needs-validation" action="/referrers/<%=currentUser.username%>/patients" method="POST" novalidate>
                <!--Select hospital-->
                <div class="form-floating mb-3">
                    <select class="form-select" id="hospital" name="hospital" required>
                        <option value="-1" selected disabled>-- Select one --</option>
                        <% hospitals.forEach(function(hospital, index) { %>
                            <% if(hospital.role === 1 && hospital.hospitalDetails.profile_complete) { %>
                                <optgroup label="Hospital <%=index + 1%>">
                                    <option class="select__hospital--option" value="<%=index%>"><%=hospital.hospitalDetails.name%></option>
                                    <option class="select__hospital--option" value="" disabled><span>(Average commission: <%=hospital.hospitalDetails.average_commission_rate%>%)</span></option>
                                </optgroup>
                            <% } %> 
                        <% }); %>
                    </select>
                    <label for="hospital">Referral institution</label>
                </div>
                <!--Name of patient-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" required>
                    <label for="name" class="form-label">Patient's name:</label>
                    <div class="invalid-feedback">Please enter a name.</div>
                </div>
                <!--Phone number-->
                <div class="form-floating mb-3">
                    <input type="text" pattern="[0-9]{10,}" class="form-control" id="phone" name="phone" required>
                    <label for="phone" class="form-label">Patient's phone number:</label>
                    <div class="invalid-feedback">Please enter a valid phone number.</div>
                </div>
                <!--Investigations-->
                <div class="form-floating mb-3">
                    <textarea spellcheck="yes" class="form-control" name="investigation" id="investigation" style="height: 10rem;" required></textarea>
                    <label for="investigation" class="form-label">Required investigations:</label>
                    <div class="invalid-feedback">Please enter an investigation.</div>
                </div>
                <small class="lh-1"><i class="fas fa-exclamation-circle"></i> Check <a href="/hospitals" target="_blank">list of hospitals</a> to see their departments and units or <a href="/faq#referrerCommission">see how commissions are calculated</a>.</small>
                <br><br>
                <!--Button group-->
                <div id="button-group"  style="width: 100%; margin-top: 4rem; display: grid; grid-row-gap: 1rem;">
                    <input type="submit" class="button btn btn-success button-group-child" value="Confirm" style="width: 100%; padding: 2rem;">
                    <button type="reset" class="button btn btn-outline-success button-group-child" onclick="window.location.href='/referrers/<%=currentUser.username%>/dashboard';" style="width: 100%; padding: 1rem;">Cancel</button>
                </div>
            </form>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>