<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/doctors/<%= user.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(user.unread_notifications_count > 0) { %>
                    <p><a href="/doctors/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= user.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/doctors/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">My notifications</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_referrer.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="notifications overflow-auto drop__shadow" style="max-height: 100vh;">
            <% user.notifications.forEach(function(notification) { %>
                <% function formatTextLength(text, limit = 17) { %>
                    <% var newText = []; %>
                    <% if(text.length > limit) { %>
                        <% text.split(" ").reduce(function(acc, cur) { %>
                            <% if(acc + cur.length <= limit) { %>
                                <% newText.push(cur); %>
                            <% } %>
                            <% return acc + cur.length; %>
                        <% }, 0); %>
                        <% return newText.join(" ") + " ..."; %>
                    <% } %>
                    <% return text; %>
                <% } %>

                <% var btnOutlineClass = notification.status === "unread" ? "btn-primary" : "btn-outline-primary"; %>
                <button class="btn notification <%=btnOutlineClass%>" onclick="window.location.href='/doctors/<%= user.username %>/notifications/<%= notification._id %>';">
                    <span class="notification_time"><%= notification.date.toUpperCase(); %></span>
                    <span class="notification_content"><%= formatTextLength(notification.content) %></span>
                </button>
            <% }); %>
            <br><br><br><br><br>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>