<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/doctors/<%= user.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(user.unread_notifications_count > 0) { %>
                    <p><a href="/doctors/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= user.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/referrers/<%=user.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Patient Info</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_referrer.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="profile drop__shadow">
            <p class="lead text-center bold-text">BASIC INFORMATION</p>
            <br>
            <p class="profile-details-paragraph lh-1"><span class="lead">Accession number</span><br><span class="paragraph__span text-wrap text-break"><%= patient.accession_number %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">First name</span><br><span class="paragraph__span text-wrap text-break"><%= patient.firstname %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Middle name</span><br><span class="paragraph__span text-wrap text-break"><%= patient.middlename %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Last name</span><br><span class="paragraph__span text-wrap text-break"><%= patient.lastname %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Sex</span><br><span class="paragraph__span text-wrap text-break"><%= patient.sex %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Age</span><br><span class="paragraph__span text-wrap text-break"><%= patient.age %></span></p>
            <p class="profile-details-paragraph lh-1"><span class="lead">Contact</span><br><span class="paragraph__span text-wrap text-break"><%= patient.phone %></span></p>
        </div>
        <br>
        <div class="profile drop__shadow overflow-auto"  style="max-height: 100vh">
            <p class="lead text-center bold-text">APPOINTMENTS</p>
            <br>
            <% if (patient.bookings && patient.bookings.length > 0) { %>
                <% patient.bookings.forEach(booking => { %>
                    <% var borderColor = booking.status == 1 ? "border border-success" : "border border-secondary"; %>
                    <% var status = booking.status == 1 ? "Done" : "Not Done"; %>

                    <div class="profile <%= borderColor %>">
                        <p class="profile-details-paragraph lh-1"><span class="lead">Booked by</span><br><span class="paragraph__span text-wrap text-break"><%= booking.doctor %></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Date/time</span><br><span class="paragraph__span text-wrap text-break"><%= booking.date %></span></p>
                        <p class="profile-details-paragraph lh-1"><span class="lead">Status</span><br><span class="paragraph__span text-wrap text-break"><%= status %></span></p>
                        <% if(booking.status == 1) { %>
                            <p class="profile-details-paragraph lh-1"><span class="lead">Perfomed on</span><br><span class="paragraph__span text-wrap text-break"><%= booking.performed_on %></span></p>
                            <p class="profile-details-paragraph lh-1"><span class="lead">Perfomed by</span><br><span class="paragraph__span text-wrap text-break"><%= booking.performed_by %></span></p>
                        <% } %>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="text-center">No bookings yet.</p>
            <% } %>
        </div>
        <br>
        <div class="profile drop__shadow overflow-auto"  style="max-height: 100vh">
            <p class="lead text-center bold-text">REPORTS</p>
            <br>
            <% if (patient.bookings && patient.bookings.length > 0) { %>
                <% patient.bookings.forEach(booking => { %>
                    <% if (booking.reports && booking.reports.length > 0) { %>
                        <% booking.reports.forEach(report => { %>
                            <div class="profile border border-primary mb-3">
                                <p class="profile-details-paragraph lh-1"><span class="lead">Investigation</span><br><span class="paragraph__span text-wrap text-break"><%= report.investigation %></span></p>
                                <p class="profile-details-paragraph lh-1"><span class="lead">Reported by</span><br><span class="paragraph__span text-wrap text-break"><%= report.reported_by %></span></p>
                                <p class="profile-details-paragraph lh-1"><span class="lead">Reported on</span><br><span class="paragraph__span text-wrap text-break"><%= report.reported_on %></span></p>
                                <br>
                                <button type="button" class="mb-3 btn btn-success btn-sm" id="report-body-btn">Display report</button>
                                <p class="hide-report-body overflow-auto lh-1 hide-report-body" id="report-body" style="max-height: 80vh;"><%= report.body %></p>
                            </div>
                        <% }); %>
                    <% } %>
                <% }); %>
            <% } else { %>
                <p class="text-center">No reports yet.</p>
            <% } %>
        </div>
    </div>
    <br>
</div>

<script>
    var toggleReportButtons = document.querySelectorAll("#report-body-btn");
    var reportBodys = document.querySelectorAll("#report-body");

    toggleReportButtons.forEach(function(toggleReportButton, index) {
        toggleReportButton.addEventListener("click", function() {
            reportBodys[index].classList.toggle("hide-report-body");
            toggleReportButton.innerHTML = toggleReportButton.innerHTML === "Display report" ? "Hide report" : "Display report";
        });
    });
    
</script>

<%- include("../partials/footer.ejs") %>