<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="/hospitals/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Step 2 <em>of</em> 3</h1>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>

        <div class="holder_div drop__shadow">
            <form action="/hospitals/<%=currentUser.username%>/update" method="POST">
                <div class="row g-3 align-items-center justify-content-center" id="form_row_div" style="width: 50%; margin: 0 auto;">
                    <!--Type of institution-->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="institution_type" name="institution_type" required>
                            <option value="-1" selected disabled> --- Select one --- </option>
                            <option value="0">Teaching Hospital</option>
                            <option value="1">Specialist Hospital</option>
                            <option value="2">General Hospital</option>
                            <option value="3">Primary Healthcare Centre</option>
                            <option value="4">Diagnostic Centre</option>
                            <option value="5">Other (not listed)</option>
                        </select>
                        <label for="institution_type">Type of Institution</label>
                        <div class="invalid-feedback">Please choose institution type</div>
                    </div>
                    <!--Name-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" required>
                        <label for="name">Hospital name</label>
                        <div class="invalid-feedback">Please enter your institution's name</div>
                    </div>
                    <!--Address-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="address" name="address" style="height: 10rem;" required></textarea>
                        <label for="addresss">Hospital address</label>
                        <div class="invalid-feedback">Please enter your institution's address</div>
                    </div>
                    <!--Email-->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" required>
                        <label for="email">Hospital email</label>
                        <div class="invalid-feedback">Please enter official email</div>
                    </div>
                    <!--Phone-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="phone" name="phone" required>
                        <label for="name">Hospital phone number</label>
                        <div class="invalid-feedback">Please enter official phone number</div>
                    </div>
                    <!--Website-->
                    <div class="form-floating mb-3">
                        <input type="text" pattern=".{5,}" class="form-control" id="website" name="website">
                        <label for="website">Hospital website address</label>
                        <div class="invalid-feedback">Please enter official website address</div>
                    </div>
                    <!--CMD-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="cmd" name="cmd" required>
                        <label for="cmd">Full name of Hospital CMD</label>
                        <div class="invalid-feedback">Please enter CMD's full name</div>
                    </div>
                    <!--CEO-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="ceo" name="ceo" required>
                        <label for="ceo">Full name of Hospital CEO</label>
                        <div class="invalid-feedback">Please enter CEO's full name</div>
                    </div>
                    <!--Consultants-->
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="consultants" name="consultants" required>
                        <label for="ceo">Number of consultants</label>
                        <div class="invalid-feedback">Please enter number of consultants</div>
                    </div>
                    <!--Doctors-->
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="doctors" name="doctors" required>
                        <label for="ceo">Number of medical doctors</label>
                        <div class="invalid-feedback">Please enter number of doctors</div>
                    </div>
                    <!--Buttons-->
                    <div id="button-group" style="width: 100%; margin-top: 3rem; display: grid; grid-row-gap: 1rem;">
                        <input type="submit" class="button btn btn-success" value="Confirm" style="width: 100%;">
                        <button type="reset" class="button btn btn-outline-danger" style="width: 100%;">Clear form</button>
                    </div>
                </div>
            </form>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>