<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header" style="background-color: #d9534f!important;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/hospitals/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                <div style="display: flex; align-items: flex-start; width: 10%;">
                    <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %>
                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %>
                </div>
            </div>
            <h1 class="header-h1-text">Deactivate Account</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_hospital.ejs") %>
        </header>

        <div class="container">
            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="deregister-content overflow-auto drop__shadow">
                    <p class="text-center">How can we resolve this?</p>
                    <p class="text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat felis at dui venenatis sollicitudin. Maecenas ac gravida ante, a placerat urna. Quisque porta nulla mauris, ut sodales arcu volutpat vitae. Nam eget finibus nunc. Ut iaculis imperdiet
                        risus nec fermentum. Ut mi mi, tincidunt eget condimentum nec, lacinia id libero. Suspendisse suscipit mi non diam blandit sagittis. Fusce ac nisl finibus quam semper maximus. Ut mollis risus non est fermentum, vitae cursus sapien
                        bibendum. In faucibus convallis nisi, sit amet bibendum diam. Duis at leo nulla. Pellentesque in nulla ut nisi sodales tempus at in eros. Quisque ac erat velit. Donec venenatis pretium quam ut ultrices. Nullam eu dictum nisl.
                    </p>
                </div>

                <br><br>

                <div class="deregister-action drop__shadow">
                    <form action="/hospitals/<%=currentUser._id%>?_method=DELETE" method="POST">
                        <!--Name-->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" value="<%= currentUser.hospitalDetails.name %>" readonly>
                            <label for="name">Name</label>
                        </div>
                        <!--Reason for deactivating-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="content" name="reason" style="height: 10rem;"></textarea>
                            <label for="content">Reason for deactivating</label>
                        </div>
                        <!--Buttons-->
                        <div class="button-group" id="button-group" style="width: 50%; margin: 3rem auto 0 auto;">
                            <input type="submit" class="button btn btn-danger text-wrap" value="Deactivate" style="width: 50%; margin: 0.25rem;">
                            <button type="reset" class="button btn btn-success" onclick="window.location.href='/hospitals/<%=currentUser.username%>/profile';" style="width: 50%; margin: 0.25rem;">Cancel</button>
                        </div>
                    </form>
                </div>
                <br><br><br><br><br>
        </div>
        <div class="space"></div>
    </div>

    <%- include("../partials/footer.ejs") %>