<%- include("../partials/header.ejs") %>

    <div class="container-fluid" id="container-fluid">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/hospitals/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
                <div style="display: flex; align-items: flex-start; width: 10%;">
                    <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %>
                        <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                        <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                        <% } else { %>
                            <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                            <% } %>
                </div>
            </div>
            <h1 class="header-h1-text">Edit Procedures</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_hospital.ejs") %>
        </header>

        <div class="container">
            <%- include("../partials/alert.ejs") %>
                <br>

                <div class="holder_div drop__shadow">
                    <form action="/hospitals/<%=currentUser.username%>/procedures?_method=PUT" method="POST">
                        <div class="row g-3 align-items-center justify-content-center" id="form_row_div" style="width: 50%; margin: 0 auto;">
                            <h1 class="header-h1-text text-center">Procedures</h1>
                            <!--Procedures-->
                            <small class="text-muted">(Type in a procedure/investigation and click '+')</small>
                            <div class="input-group mb-3" style="margin-top: 1rem; margin-bottom: 1rem;">
                                <input type="text" class="procedure_input border border-success">
                                <button class="btn btn-success procedure_input_button" type="button">+</button>
                            </div>
                            <div class="procedures">
                                <% currentUser.hospitalDetails.procedures.forEach(function(procedure, index) { %>
                                    <div class="input-group mb-1 procedure_div">
                                        <input type="text" class="procedure border" name="procedures[<%= index %>]" value="<%= procedure %>" readonly>
                                        <button class="btn btn-secondary procedure_button border" type="button">-</button>
                                    </div>
                                    <% }) %>
                            </div>
                            <br>
                            <!--Submit button-->
                            <div class="button-group" id="button-group" style="width: 100%; margin-top: 5rem;">
                                <input type="submit" class="button btn btn-success" value="Confirm" style="width: 45%;">
                                <button type="reset" onclick="window.location.href='/hospitals/<%=currentUser.username%>/profile';" class="button btn btn-outline-success" style="width: 45%;">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br><br><br><br>
        </div>
        <div class="space"></div>
    </div>

    <script>
        var procedureArr = Array.from(document.querySelectorAll(".procedure_div"));
        var procedure_count = procedureArr.length - 1;
        var departments = document.getElementById("departments");
        var addButton = document.querySelector(".procedure_input_button");
        var procedures = document.querySelector(".procedures");

        // Add a procedure/investigation
        addButton.addEventListener("click", function() {
            var text = document.querySelector(".procedure_input").value;

            if (text.length > 0) {
                procedure_count++;
                var div = document.createElement("div");

                div.classList.add("input-group");
                div.classList.add("mb-1");
                div.innerHTML = `
                <input type="text" class="procedure border" name="procedures[${procedure_count}]" value="${text}" readonly>
                <button class="btn btn-secondary procedure_button border" type="button">-</button>
            `;
                document.querySelector(".procedures").appendChild(div);
                document.querySelector(".procedure_input").value = "";
                document.querySelector(".procedure_input").focus();
            }
        });

        // Remove a procedure/investigation
        procedures.addEventListener("click", function(e) {
            if (e.target.classList.contains("procedure_button")) {
                e.target.parentElement.parentElement.removeChild(e.target.parentElement);
            }
        });
    </script>

    <%- include("../partials/footer.ejs") %>