<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/hospitals/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(currentUser.hospitalDetails.unread_notifications_count> 0) { %>
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.hospitalDetails.unread_notifications_count %></span>
                <% } else { %>
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Update commission Rates</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_hospital.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <div class="container small-content drop__shadow">
            <small><i class="fas fa-exclamation-circle text-warning"></i> <strong>Important notice</strong></small><br><br>
            <p class="text-muted">Commission rates help us calculate rebates for referring doctors.</p>
            <p>Do not convert numbers to percentages. For example, simply enter "5" for 5% and "20" for 20%. For enquiries, <a href="/contact">contact us</a>.</p>
        </div><br><br>
        <div class="holder_div drop__shadow">
            <form action="/hospitals/<%= currentUser.username %>/commissions?_method=PUT" method="POST">
                <div class="row g-3 align-items-center justify-content-center" id="form_row_div" style="width: 50%; margin: 0 auto;">
                    <!--Min amount rate-->
                    <div class="mb-3">
                        <label for="min_amount_rate" class="lh-1">Commission rate when amount patient paid is up to <strike>N</strike>5,000</label>
                        <input type="number" step="0.01" class="form-control" id="min_amount_rate" name="min_amount_rate" min="0" max="100" value="<%= currentUser.hospitalDetails.commission_rates.min_amount_rate %>" required>
                    </div>
                    <!--Low amount rate-->
                    <div class="mb-3">
                        <label for="low_amount_rate" class="lh-1">Commission rate when amount patient paid is between <strike>N</strike>5,001 and <strike>N</strike>20,000</label>
                        <input type="number" step="0.01" class="form-control" id="low_amount_rate" name="low_amount_rate" min="0" max="100" value="<%= currentUser.hospitalDetails.commission_rates.low_amount_rate %>" required>
                    </div>
                    <!--Mid amount rate-->
                    <div class="mb-3">
                        <label for="mid_amount_rate" class="lh-1">Commission rate when amount patient paid is between <strike>N</strike>20,001 and <strike>N</strike>50,000</label>
                        <input type="number" step="0.01" class="form-control" id="mid_amount_rate" name="mid_amount_rate" min="0" max="100" value="<%= currentUser.hospitalDetails.commission_rates.mid_amount_rate %>" required>
                    </div>
                    <!--High amount rate-->
                    <div class="mb-3">
                        <label for="high_amount_rate" class="lh-1">Commission rate when amount patient paid is between <strike>N</strike>50,001 and <strike>N</strike>100,000</label>
                        <input type="number" step="0.01" class="form-control" id="high_amount_rate" name="high_amount_rate" min="0" max="100" value="<%= currentUser.hospitalDetails.commission_rates.high_amount_rate %>" required>
                    </div>
                    <!--Max amount rate-->
                    <div class="mb-3">
                        <label for="max_amount_rate" class="lh-1">Commission rate when amount patient paid is above <strike>N</strike>100,000</label>
                        <input type="number" step="0.01" class="form-control" id="max_amount_rate" name="max_amount_rate" min="0" max="100" value="<%= currentUser.hospitalDetails.commission_rates.max_amount_rate %>" required>
                    </div>
                    <br>
                    <!--Submit button-->
                    <div class="button-group" id="button-group" style="width: 100%; margin-top: 5rem;">
                        <input type="submit" class="button btn btn-success" value="Confirm" style="width: 80%;">
                    </div>
                </div>
            </form>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<%- include("../partials/footer.ejs") %>