<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/hospitals/<%= currentUser.username %>/dashboard"><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
            <div style="display: flex; align-items: flex-start; width: 10%;">
                <% if(currentUser.hospitalDetails.unread_notifications_count > 0) { %>
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: #0275D8;"></i></a></p>
                    <span><%= currentUser.hospitalDetails.unread_notifications_count %> </span>
                <% } else { %>
                    <p><a href="/hospitals/<%=currentUser.username%>/notifications"><i class="fas fa-bell" style="font-size: 2rem; color: white;"></i></a></p>
                <% } %>
            </div>
        </div>
        <h1 class="header-h1-text">Edit Departments</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <%- include("../partials/navbar_hospital.ejs") %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
        <br>
        <%- include("../partials/alert-to-create-commission-rates.ejs") %>
        <br>
        <div class="form-wrap drop__shadow">
            <form action="/hospitals/<%=currentUser.username%>/departments?_method=PUT" method="POST">
                <div class="row g-3 align-items-center justify-content-center" id="form_row_div" style="width: 50%; margin: 0 auto;">
                    <h1 class="header-h1-text text-center">Departments</h1>
                    <div id="departments">
                        <% var count = 0 %>
                        <% currentUser.hospitalDetails.departments.forEach(function(department, index) { %>
                            <div class="department drop__shadow">
                                <!--Name-->
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" name="name" value="<%=department.name%>">
                                    <label for="name">Department</label>
                                </div>
                                <!--Staff count-->
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="staff_count" name="staff_count" value="<%= department.staff_count %>">
                                    <label for="staff_count">Number of clinical staff</label>
                                </div>
                                <!--Units-->
                                <label for="procedures" class="text-muted">Departmental units</label>
                                <small class="text-muted">(Type and click + to add a unit.)</small>
                                <div class="input-group mb-3" style="margin-top: 1rem; margin-bottom: 1rem;">
                                    <input type="text" class="procedure_input border border-success">
                                    <button class="btn btn-success procedure_input_button" type="button">+</button>
                                </div>
                                <div class="procedures">
                                    <% department.units.forEach(function(unit) { %>
                                        <div class="input-group mb-1" id="input-group" data-input="<%= index %>">
                                            <input type="text" class="border procedure" name="[units]-[<%= index %>]" value="<%= unit %>" data-input="<%= index %> " readonly>
                                            <button class="btn btn-secondary procedure_button border" type="button">-</button>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <br>
                            <% count++; %>
                        <% }); %>
                    </div><br>
                    <!--Button to add another department-->
                    <div style="width: 90%; padding: 0; margin: 1rem auto;">
                        <button class="btn btn-outline-success" type="button" id="add_department" style="width: 100%; display: flex; justify-content: center; justify-self: center; padding: 1rem; font-family: 'Poppins', sans-serif;">Add another department +</button>
                    </div>
                    <!--Buttons-->
                    <div id="button-group" style="width: 100%; margin-top: 4rem; display: grid; grid-row-gap: 1rem;">
                        <input type="submit" class="button btn btn-success" value="Confirm" style="width: 100%;">
                        <button type="reset" onclick="window.location.href='/hospitals/<%=currentUser.username%>/profile';" class="button btn btn-outline-success" style="width: 100%;">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<script>
    var departmentsArr = Array.from(document.querySelectorAll(".department"));
    var procedure_count = 0;
    departmentsArr.forEach(function(el) {
        // console.log(el.lastElementChild.firstElementChild.dataset.input);
        procedure_count++;
    });

    var departments = document.getElementById("departments");

    departments.addEventListener("click", function(e) {
        if (e.target.classList.contains("procedure_input_button")) {
            var text = e.target.previousElementSibling.value;
            var dataInput;

            if (e.target.parentElement.nextElementSibling.firstElementChild) {
                dataInput = e.target.parentElement.nextElementSibling.firstElementChild.dataset.input;
            }

            var count = dataInput ? dataInput : (procedure_count - 1);

            if (text.length > 0) {
                var div = document.createElement("div");
                div.classList.add("input-group");
                div.classList.add("mb-1");
                div.dataset.input = count;
                div.innerHTML = `
                <input type="text" class="procedure border" name="[units]-[${count}]" value="${text}" readonly>
                <button class="btn btn-secondary procedure_button border" type="button">-</button>
            `;
                e.target.parentElement.nextElementSibling.appendChild(div);
                e.target.previousElementSibling.value = "";
                e.target.previousElementSibling.focus();
            }
        }
    });

    departments.addEventListener("click", function(e) {
        if (e.target.classList.contains("procedure_button")) {
            e.target.parentElement.parentElement.removeChild(e.target.parentElement);
        }
    });

    document.querySelector("#add_department").addEventListener("click", function() {
        procedure_count++;

        var div = document.createElement("div");
        div.classList.add("department");
        div.classList.add("drop__shadow");
        div.innerHTML = `
        <!--Name-->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name">
            <label for="name">Department</label>
        </div>
        <!--Staff count-->
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="staff_count" name="staff_count">
            <label for="staff_count">Number of clinical staff</label>
        </div>
        <!--Units-->
        <label for="procedures" class="text-muted">Procedures</label>
        <small class="text-muted">(Type and click + to add a unit.)</small>
        <div class="input-group mb-3" style="margin-top: 1rem; margin-bottom: 1rem;">
            <input type="text" class="procedure_input border border-success">
            <button class="btn btn-success procedure_input_button" type="button">+</button>
        </div>
        <div class="procedures"></div>
        <br>
    `;
        document.getElementById("departments").appendChild(div);
    });
</script>

<%- include("../partials/footer.ejs") %>