<%- include("../partials/header.ejs") %>

<!--Set redirect route on clicking logo-->
<% var logoRoute = "/home"; %>
<% if(currentUser) { %>
    <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
        <% logoRoute = "/referrers/" + currentUser.username + "/dashboard"; %>
    <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
        <% logoRoute = "/hospitals/" + currentUser.username + "/dashboard"; %>
    <% } else if(currentUser.typeOfUser == "admin") { %>
        <% logoRoute = "/admin/" + currentUser.username + "/dashboard"; %>
    <% } %>
<% } %>

<div class="container-fluid" id="container-fluid">
    <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href=<%=logoRoute %> ><img class="logo" src="https://i.ibb.co/PmwPpHt/24-3.png" alt="Icon-only" border="0" alt="Fastclinic logo"></a>
        </div>
        <h1 class="header-h1-text">Hospital Registration</h1>
        <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
        <% if(currentUser) { %>
            <% if(currentUser.typeOfUser == "referrer" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_referrer.ejs") %>
            <% } else if(currentUser.typeOfUser == "hospital" && currentUser.role >= 1) { %>
                <%- include("../partials/navbar_hospital.ejs") %>
            <% } else if(currentUser.typeOfUser == "admin") { %>
                <%- include("../partials/navbar_admin.ejs") %>
            <% } else { %>
                <%- include("../partials/navbar_nouser.ejs") %>
            <% } %>
        <% } else { %>
            <%- include("../partials/navbar_nouser.ejs") %>
        <% } %>
    </header>
    <div class="container">
        <%- include("../partials/alert.ejs") %>
            <br>
        <div class="form_div drop__shadow">
            <div id="form-holder">
                <form class="needs-validation" action="/accounts/hospitals/register" method="POST" onsubmit="checkIfPasswordsMatch()" novalidate>
                    <div class="row g-3 align-items-center justify-content-center" style="width: fit-content; margin: 0 auto;">
                        <small class="text-center text-muted border border-2" id="login-info" style="margin-bottom: 2rem; padding: 1rem; width: 100%; border-radius: 10px;">Creating a hospital account.</small>
                        <!--Username-->
                        <div class="form-floating mb-3">
                            <input type="text" pattern="[A-Za-z0-9]{5,}" class="form-control border border-success" id="username" name="username" required>
                            <label for="username">Username</label>
                            <div class="invalid-feedback text-warning" style="display: block;">
                            Please adhere to these username rules:
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Username field cannot be empty.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Username can only be alpha-numeric.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Username cannot contain special characters.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Username must be 5 or more characters long.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Password-->
                        <div class="form-floating mb-3">
                            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control border border-success" id="password" name="password" onkeyup='check();' required>
                            <label for="password">Password</label>
                            <div class="invalid-feedback text-warning" style="display: block;">
                                Please adhere to these password rules:
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Password field cannot be empty.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Password must be 8 or more characters long.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Password must contain at least one uppercase letter.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Password must contain at least one lowercase letter.
                                    </label>
                                </div>
                                <div class="form-check text-secondary">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Password must contain at least one number.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Confirm Password-->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control border border-success" id="confirmPassword" name="confirmPassword" onkeyup='check();' required>
                            <label for="confirmPassword">Confirm Password</label>
                            <small id="message"></small>
                        </div>
                        <!--User Acknowledgement and Fastclinic Data Privacy Pledge-->
                        <div style="display: grid;">
                            <div class="text-justify lh-1" style="padding: 0.5rem; display: flex;">
                                <input class="form-check-input" type="checkbox" id="terms" style="padding: 6px; margin-right: 1rem;" required>
                                <label class="form-check-label" for="terms" style="font-size: 0.8rem;">
                                    I acknowledge that I have read and agree to the 
                                    <a href="/terms" target="_blank">Terms of Use</a> and 
                                    <a href="/privacy" target="_blank">Privacy Policy</a>.
                                </label>
                            </div>
                            <p class="text-center text-muted lh-1" style="padding: 1rem; font-size: 0.8rem">We will never share your personal info with anyone else.</p>
                        </div>
                        <!--Submit Button-->
                        <div id="button-group" style="width: 100%;">
                            <input id="submit-button" type="submit" class="button btn btn-success" value="Create account" style="width: 100%; margin: 1rem 0; padding: 2rem;">
                        </div>
                    </div>
                    <small class="text-center" style="display: block;">Already have an account? <a class="text-success" href="/login" style="text-decoration: underline;">Sign in</a></small>
                </form>
            </div>
        </div>
        <br><br><br><br><br>
    </div>
</div>
<div style="height: 50vh;"></div>

<script>
    var check = function() {
        if (document.getElementById('password').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('message').innerHTML = 'Passwords match'
            document.getElementById('message').style.color = 'green'
        } else {
            document.getElementById('message').innerHTML = "Passwords don't match"
            document.getElementById('message').style.color = 'red'
        }
    }
</script>

<%- include("../partials/footer.ejs") %>